body {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin: 0px;
  max-width: auto;
}
section {
  display: flex;
  border-radius: 5px;
  background-color: #f2f2f2;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 1px;
  margin-right: 30px;
}
nav {
  display: flex;
  margin-left: 30px;
  right: 0%;
  bottom: 90%;
  min-width: 30%;
  justify-content: space-between;
  border-bottom: 2px white solid;
}

.classbordersection {
  display: flex;
}

.HébergementActivités {
  color: black;
  display: flex;
  text-decoration: none;
}

.Hebergement {
  font-size: 20px;
  padding: 20px;
  text-decoration: none;
  /* margin-right: 50px;*/
  color: black;
}

.Activites01 {
  font-size: 20px;
  padding: 20px;
  text-decoration: none;
  color: black;
}
.ilesdufrioul {
  text-decoration: none;
}
.test {
  font-size: 20px;
  width: 90%;
}
.test a {
  text-decoration: none;
}
.Hebergement:hover {
  border-top: 3px #0065fc solid;
  color: blue;
}

.Activites01:hover {
  border-top: 3px #0065fc solid;
  color: blue;
}

#Activites {
  text-decoration: none;
}

footer {
  margin-left: 0%;
  padding-bottom: 20px;
  padding-left: 3%;
  background-color: #f2f2f2;

  display: flex;
  justify-content: flex-start;
}

.Fonctionnement {
  margin-right: 14%;
}

.Hebergementfoot {
  margin-left: 30px;
  margin-right: 240px;
}

aside {
  display: flex;
  flex-direction: column;
  width: 850px;
  padding-left: 2%;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 5px;
}

figure {
  display: flex;
  width: 100%;
}

h3 {
  font-weight: bold;
}

#logo {
  left: 1%;
}

.recherche {
  margin-left: 30px;
  border-radius: 30% 10% 10% 30%;
}

.textpersobarrederecherche {
  border-style: solid;
  border-color: #f2f2f2;
  width: 200px;
  height: 45px;
}

.barrederecherche {
  border-style: none;
  border-color: #f2f2f2;
  width: 300px;
  height: 50px;
}

.logoinfo {
  color: #0065fc;
}

.fa-map-marker-alt {
  width: 30px;
  border-radius: 20px 0 0 20px;
  padding-left: 2%;
  background-color: #f2f2f2;
  height: 36px;
  padding-top: 15px;
  padding-right: 10px;
}

.bouton-perso {
  background-color: #0065fc;
  color: white;
  border-radius: 0 20px 20px 0;
  width: 150px;
  height: 50px;
}
h5 {
  margin-left: 30px;
}

h4 {
  text-align: left;
  margin-left: 20px;
  font-weight: bolder;
  font-size: large;
}

h2 {
  font-weight: bold;
  margin-left: 30px;
  margin-top: 50px;
}

.iconAnimaux:hover {
  color: #0d11f5;
}

.iconRomantique:hover {
  color: #0d11f5;
}

.iconFamilial:hover {
  color: #0d11f5;
}

.iconEconomique:hover {
  color: #0d11f5;
}

.Filtres {
  display: flex;
  font-weight: 900;
  margin-top: 1%;
}

.logoeconomique {
  color: #0065fc;
  border-color: #deebff;
  border-style: solid;
  border-radius: 75%;
  padding: 28px;
  background-color: #deebff;
  margin-right: 8px;
  height: 19px;
  width: 20px;
}

.iconEconomique {
  display: flex;
  margin-top: 30px;
  margin-left: 2%;
  border-style: solid;
  border-color: #f2f2f2;
  border-radius: 60px;
  padding: 0px 20px 0px 0px;
  align-items: center;
}

.logofamilial {
  color: #0065fc;
  border-color: #deebff;
  border-style: solid;
  border-radius: 75%;
  padding: 28px;
  background-color: #deebff;
  margin-right: 15px;
  height: 19px;
  width: 15px;
}

.iconFamilial {
  display: flex;
  margin-top: 30px;
  margin-left: 20px;
  border-style: solid;
  border-color: #f2f2f2;
  border-radius: 60px;
  padding: 0 50px 0 0;
  align-items: center;
}

.logoromantique {
  color: #0065fc;
  border-color: #deebff;
  border-style: solid;
  border-radius: 60px;
  padding: 29px;
  background-color: #deebff;
  margin-right: 15px;
}

.iconRomantique {
  margin-top: 40px;
  border-style: solid;
  border-color: #f2f2f2;
  border-radius: 60px;
  padding: 0 20px 0 0;
  margin-left: 20px;
}

.logoanimaux {
  color: #0065fc;
  border-color: #deebff;
  border-style: solid;
  border-radius: 60px;
  padding: 29px;
  background-color: #deebff;
  margin-right: 15px;
}

.iconAnimaux {
  margin-top: 40px;
  border-style: solid;
  border-color: #f2f2f2;
  border-radius: 60px;
  padding: 0 20px 0 0;
  margin-left: 20px;
}

.Hotelduport10 {
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  background-color: white;
  color: black;
  margin-left: 30px;
  margin-bottom: 5%;
  text-decoration: none;
  padding-bottom: 2%;
}

.Aubergedelacannebiere10 {
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  background-color: white;
  color: black;
  margin-left: 30px;
  margin-bottom: 5%;
  text-decoration: none;
  padding-bottom: 2%;
  box-shadow: 0px 0px 5px 1px #fcfafa00;
}

.hotellesmouettes10 {
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  background-color: white;
  padding-bottom: 2%;
  color: black;
  margin-left: 30px;
  margin-bottom: 5%;
  text-decoration: none;
}

.Hoteldelamer {
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  background-color: white;
  padding-bottom: 2%;
  color: black;
  margin-left: 30px;
  margin-bottom: 5%;
  text-decoration: none;
}

.HotelchezAmina10 {
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  background-color: white;
  padding-bottom: 2%;
  color: black;
  margin-left: 30px;
  margin-bottom: 5%;
  text-decoration: none;
}

.AubergelePanier10 {
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  background-color: white;
  padding-bottom: 2%;
  color: black;
  margin-left: 30px;
  margin-bottom: 5%;
  text-decoration: none;
}

.Afficherplus {
  margin-left: 5%;
  margin-bottom: 3%;
  color: black;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
}

.Fort {
  box-shadow: 0px 0px 5px 2px #f2f2f2;
  margin-bottom: 20px;
  border-radius: 20px 20px 20px 20px;
  padding-bottom: 2px;
}

.Vieuxport {
  border-radius: 20px;
  background-color: white;
  border-color: #f2f2f2;
  text-decoration: none;
  box-shadow: 0px 0px 5px 1px #f2f2f2;
  color: black;
  text-align: center;
  margin-right: 20px;
}

.photoFort {
  border-radius: 20px 20px 0 0;
  width: 350px;
  height: 215px;
  box-shadow: 0px 0px 5px 1px #f2f2f2;
}

.Fortdepomègues {
  border-color: #f2f2f2;
  border-radius: 20px;
  background-color: white;
  text-decoration: none;
  color: black;
  text-align: center;
}

.photoiles {
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 0px 5px 1px #f2f2f2;
  width: 350px;
  height: 130px;
}

.iles {
  border-color: #f2f2f2;
  border-radius: 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  box-shadow: 0px 0px 5px 2px #f2f2f2;
  text-align: center;
  padding-bottom: 5px;
}

.photoCalanques {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 450px;
}

.ParcNationaldesCalanques {
  border-color: #f2f2f2;
  border-radius: 20px;
  background-color: white;
  padding-top: 0.05%;
  text-decoration: none;
  box-shadow: 0px 0px 5px 1px #f2f2f2;
  color: black;
  margin-right: 20px;
  text-align: center;
}

.photoDamedelagarde {
  border-radius: 20px 20px 0 0;
  width: 350px;
  box-shadow: 0px 0px 5px 1px #f2f2f2;
  height: 165px;
}

.Notre-Dame-de-la-Garde {
  border-style: solid;
  border-color: #f2f2f2;
  border-radius: 20px;
  background-color: white;
  padding-top: 0.05%;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 0px 5px 2px #f2f2f2;
  color: black;
}

.photolomgchamp {
  border-radius: 20px 20px 0 0;
  width: 350px;
  box-shadow: 0px 0px 5px 1px #f2f2f2;
  height: 165px;
}

.ParcdeLomgchamp {
  border-style: solid;
  border-color: #f2f2f2;
  border-radius: 20px;
  background-color: white;
  padding-top: 0.05%;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 0px 5px 2px #f2f2f2;
  color: black;
  margin-top: 40px;
  padding-bottom: 5px;
}

.etoilebleu {
  color: #0065fc;
  border-color: #f2f2f2;
}

.etoilevide {
  color: #f2f2f2;
}

.Hébergement {
  width: 90%;
}

.Hotellesoleildumatin1 {
  display: flex;
  background-color: white;
  width: 95%;
  height: 190px;
  border-radius: 30px;
  margin-bottom: 120px;
  margin-top: 27px;
  margin-right: 4%;
  color: black;
  text-decoration: none;
}

.AucoeurdeleauChambresdhotes1 {
  display: flex;
  background-color: white;
  height: 190px;
  width: 95%;
  border-radius: 30px;
  margin-bottom: 120px;
  margin-right: 4%;
  color: black;
  text-decoration: none;
}

.etoileenligne3 {
  margin-top: 50px;
}

.etoileenligne1 {
  margin-top: 8px;
}

.texteCannebiere {
  margin-left: 5%;
}

.TexteHotelduport {
  margin-left: 5%;
}

.texthotelmouettes {
  margin-left: 5%;
}

.textehoteldelamer {
  margin-left: 5%;
}

.texteHotelchezAmina {
  margin-left: 5%;
}

.TexteAubergelepanier {
  margin-left: 5%;
}

.Hoteltoutbleuetblanc1 {
  display: flex;
  background-color: white;
  height: 190px;
  width: 95%;
  border-radius: 30px;
  margin-right: 4%;
  color: black;
  text-decoration: none;
  max-width: 100%;
}

.fortiles {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.DameParc {
  display: flex;
  flex-direction: column;
}
.Hotelsoleilalign {
  display: flex;
  flex-direction: column;
}

.photoHoteltoutbleueetblanc {
  width: 40%;
  max-width: 40%;
  border-radius: 15% 0% 0% 15%;
  padding: 1% 1% 1%;
  margin-right: 4%;
}

.iconEconoEtFamilial {
  display: flex;
  border-radius: 75%;
  padding: 8px 8px 12px 12px;
  display: flex;
  margin-left: 2%;
  border-radius: 60%;
  padding: 6px 10px 3px 0px;
}

.photoAuBergeCannebière {
  width: 230px;
  height: 170px;
  border-radius: 20px 20px 0 0;
}

.photoHotelduport {
  width: 230px;
  height: 170px;
  border-radius: 20px 20px 0 0;
}

.photoHotellesmouettes {
  width: 230px;
  height: 170px;
  border-radius: 20px 20px 0 0;
}

.photoHoteldelamer {
  width: 230px;
  height: 170px;
  border-radius: 20px 20px 0 0;
}

.photoHotelchezAmina {
  width: 230px;
  height: 170px;
  border-radius: 20px 20px 0 0;
}

.photoAubergelePanier {
  width: 230px;
  height: 170px;
  border-radius: 20px 20px 0 0;
}

.photoHotelsoleildumatin {
  width: 40%;
  max-width: 40%;
  border-radius: 15% 0% 0% 15%;
  padding: 1% 1% 1%;
  margin-right: 4%;
}

.photoAucoeurdeleau-chambre-dhotes {
  width: 40%;
  max-width: 40%;
  border-radius: 15% 0% 0% 15%;
  padding: 1% 1% 1%;
  margin-right: 4%;
}

.Inscrire {
  font-size: 20px;
  padding: 20px;
  text-decoration: none;
  color: black;
  left: 150px;
}

.zoneactivite1 {
  display: flex;
  /* margin-left: 60px;*/
}

.Hebergementetpluspopulaire {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-decoration: none;
  margin-bottom: 5%;
  margin-left: 30px;
}

.photoVieuxport {
  border-radius: 20px 20px 0 0;
  width: 100%;
  box-shadow: 0px 0px 5px 1px #f2f2f2;
  height: 450px;
}

.Hotelduport {
  text-decoration: none;
  color: black;
}

.AubergedelaCannebière {
  text-decoration: none;
  color: black;
}

.Hotellesmouettes {
  text-decoration: none;
  color: black;
}

.HotelchezAmina {
  text-decoration: none;
  color: black;
}

.AubergelePanier {
  text-decoration: none;
  color: black;
}
.fa-search {
  font-size: 0rem;
}
h6 {
  font-size: small;
}
.Vieuxport1 {
  box-shadow: 0px 0px 5px 1px #f2f2f2;
}

/* Css pour version Mobile */

@media screen and (max-width: 1024px) {
  .Hotellesoleildumatin1 {
    margin-bottom: 80px;
  }
  .AucoeurdeleauChambresdhotes1 {
    margin-bottom: 80px;
  }
  .bouton-perso {
    border-radius: 15px 20px 20px 15px;
    width: 50px;
  }
  .bouton-perso {
    color: #0065fc;
    width: 70px;
  }
  .fa-search {
    font-size: 1.5rem;
    position: relative;
    left: -50px;
    color: whitesmoke;
  }

  .etoilebleu {
    margin-right: 2%;
  }

  .Fort {
    margin-right: 0px;
  }

  .Hebergementetpluspopulaire {
    display: flex;
    flex-direction: column-reverse;
  }

  .Hebergement {
    margin-right: 12px;
    font-size: 160%;
  }

  .Hebergement:hover {
    border-bottom: 3px #0065fc solid;
    border-top: none;
  }

  .Activites01 {
    font-size: 160%;
  }

  .Activites01:hover {
    border-bottom: 3px #0065fc solid;
    border-top: none;
  }
  .Inscrire {
    position: relative;
    top: -120px;
  }

  .Inscrire:hover {
    border-top: 3px #0065fc solid;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px #f2f2f2 solid;
    width: 800px;
  }

  .recherche {
    margin-right: auto;
  }

  .Filtres {
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }

  section {
    margin-right: 0%;
    flex-direction: column;
    margin-top: 2%;
  }

  figure {
    display: block;
    text-align: center;
    max-width: 100%;
  }

  footer {
    display: block;
  }

  aside {
    position: relative;
    margin-top: 5%;
    width: auto;
  }

  .Hotellesoleildumatin1 {
    display: flex;
    text-align: center;
    margin-bottom: 0px;
  }

  .AucoeurdeleauChambresdhotes1 {
    display: flex;
    text-align: center;
    margin-bottom: 0px;
  }

  .Hoteltoutbleuetblanc1 {
    display: flex;
    text-align: center;
  }

  .Aubergedelacannebiere10 {
    width: 250px;
    margin-left: 2%;
  }
  .Hotelduport10 {
    width: 250px;
    margin-left: 2%;
  }

  .hotellesmouettes10 {
    width: 250px;
    margin-left: 2%;
  }

  .Hoteldelamer {
    width: 250px;
    margin-left: 2%;
  }

  .HotelchezAmina10 {
    width: 250px;
    margin-left: 2%;
  }

  .AubergelePanier10 {
    width: 250px;
    margin-left: 2%;
  }

  .Vieuxport {
    box-shadow: none;
  }

  .Vieuxport1 {
    border-style: solid;
    border-color: #f2f2f2;
    border-radius: 20px;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
    box-shadow: 0px 0px 5px 1px #f2f2f2;
    color: black;
  }

  .Fortdepomègues {
    border-color: #f2f2f2;
    border-radius: 20px;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
    margin-bottom: 20px;
    width: auto;
  }

  .iles {
    border-style: solid;
    border-color: #f2f2f2;
    border-radius: 20px;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 0px;
    width: auto;
  }

  .ParcNationalCalanques {
    border-style: solid;
    border-color: #f2f2f2;
    border-radius: 20px;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
    box-shadow: 0px 0px 5px 1px #f2f2f2;
  }

  .Notre-Dame-de-la-Garde {
    border-radius: 20px;
    margin-bottom: 20px;
    width: auto;
  }

  .ParcdeLomgchamp {
    margin-top: 0%;
    width: auto;
  }

  .photoHotelduport {
    height: 300px;
  }

  .photoHotellesmouettes {
    height: 300px;
  }

  .photoHoteldelamer {
    height: 300px;
  }

  .photoHotelchezAmina {
    height: 300px;
  }

  .photoAubergelePanier {
    height: 300px;
  }

  .photoHotelsoleildumatin {
    width: 250px;
  }

  .photoAucoeurdeleau-chambre-dhotes {
    width: 250px;
  }

  .photoHoteltoutbleueetblanc {
    width: 250px;
  }

  .photoVieuxport {
    width: 740px;
    height: 750px;
  }
  .photoCalanques {
    /* width: 650px;*/

    box-shadow: 0px 0px 5px 1px #f2f2f2;
  }
  .photoiles {
    width: 740px;
    height: 750px;
  }
  .photoCalanques {
    width: 740px;
    height: 750px;
  }
  .photoDamedelagarde {
    width: 740px;
    height: 750px;
  }
  .photolomgchamp {
    width: 740px;
    height: 750px;
  }
  .photoFort {
    height: 750px;
    width: 740px;
  }

  .populaire {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .HébergementActivités {
    margin-top: 10%;
    margin-left: 1%;

    justify-content: space-around;
  }

  .recherche {
    width: 100%;
  }

  .fortiles {
    display: block;
    flex-direction: column;
    margin-right: 0px;
  }
  .zoneactivite1 {
    width: 820px;
    display: flex;
    justify-content: space-between;
  }
  .activitétext {
    margin-left: 25px;
  }
  .Hotellesmouettes {
    width: 250px;
  }
  h4 {
    text-align: center;
  }
}
@media screen and (max-width: 1030px) and (min-width: 1020px) {
  .photoFort {
    width: 735px;
  }
  .photoiles {
    width: 735px;
  }
  .photoDamedelagarde {
    width: 735px;
  }
  .photolomgchamp {
    width: 735px;
  }
  .fortiles {
    margin-right: 0px;
  }
  .footer {
    width: 1024px;
  }
  .zoneactivite1 {
    margin-left: 100px;
  }
}

@media screen and (max-width: 400px) {
  /* code pour mobile */
  section {
    flex-direction: column;
    width: 360px;
    padding-left: 10px;
  }
  /* .fa-search {
    left: -52px;
    top: 6px;
  }*/
  .bouton-perso {
    color: #0065fc;
  }
  .photoHotelsoleildumatin {
    height: 160px;
  }
  .photoAucoeurdeleau-chambre-dhotes {
    height: 160px;
  }
  .photoHoteltoutbleueetblanc {
    height: 160px;
  }
  .photoAuBergeCannebière {
    height: 150px;
    width: 330px;
  }
  .photoHotelduport {
    height: 150px;
    width: 330px;
  }
  .photoHotellesmouettes {
    height: 150px;
    width: 330px;
  }
  .photoHoteldelamer {
    height: 150px;
    width: 330px;
  }
  .photoHotelchezAmina {
    height: 150px;
    width: 330px;
  }
  .photoAubergelePanier {
    height: 150px;
    width: 330px;
  }
  .photoCalanques {
    width: 340px;
    height: 300px;
  }
  .photoVieuxport {
    width: 340px;
    height: 300px;
  }
  .photoDamedelagarde {
    /* height: 350px;
        width: 500px;*/
    width: 340px;
    height: 300px;
  }
  .photoiles {
    height: 300px;
    width: 340px;
  }
  .photolomgchamp {
    /*  height: 350px;
        width: 500px;*/
    width: 340px;
    height: 300px;
  }
  .zoneactivite1 {
    width: 390px;
    margin-right: 0px;
    margin-left: 2px;
  }
  .fort {
    margin-right: 0px;
    width: 347px;
  }
  .photoFort {
    width: 340px;
    height: 300px;
  }

  nav {
    margin-right: 0px;
    margin-left: 0px;
    max-width: 370px;
    font-size: 10px;
  }
  .Inscrire {
    top: -70px;
    left: -88px;
    font-size: 20px;
  }
  .HébergementActivités {
    position: relative;
    left: -66px;
  }
  h2 {
    margin-left: 0px;
  }
  h5 {
    margin-left: 0px;
  }
  h6 {
    font-size: 10px;
  }
  .recherche {
    margin-left: 0px;
  }
  .Hebergementetpluspopulaire {
    margin-left: 0px;
  }
  .iconEconoEtFamilial {
    margin-left: 0px;
  }
  .Filtres {
    max-width: 375px;
  }
  .iconRomantique {
    margin-left: 0px;
    margin-top: 10px;
    width: 230px;
  }
  .iconAnimaux {
    margin-left: 0px;
    margin-top: 10px;
    width: 230px;
  }
  .iconEconomique {
    margin-left: 0px;
    margin-top: 0px;
  }
  .iconFamilial {
    margin-left: 0px;
    margin-top: 0px;
  }
  .logoeconomique {
    margin-right: 0px;
  }
  figure {
    margin-left: 5px;
  }

  .Activites01:hover {
    border-left-width: 143px;
    border-right-width: 143px;
  }
  .logoanimaux {
    padding: 19px;
  }
  .logoeconomique {
    padding: 19px;
  }
  .logofamilial {
    padding: 19px;
  }
  .logoromantique {
    padding: 19px;
  }
  .Aubergedelacannebiere10 {
    width: 330px;
    margin-left: 2%;
  }
  .Hotelduport10 {
    width: 330px;
    margin-left: 2%;
  }

  .hotellesmouettes10 {
    width: 330px;
    margin-left: 2%;
  }

  .Hoteldelamer {
    width: 330px;
    margin-left: 2%;
  }

  .HotelchezAmina10 {
    width: 330px;
    margin-left: 2%;
  }

  .AubergelePanier10 {
    width: 330px;
    margin-left: 2%;
  }
  .Hebergement {
    margin-right: 1px;
    font-size: 20px;
    margin-left: 29px;
  }
  .Activites01 {
    font-size: 20px;
  }

  .Hotellesoleildumatin1 {
    margin-bottom: 15px;
    height: 163px;
  }
  .AucoeurdeleauChambresdhotes1 {
    margin-bottom: 15px;
    height: 163px;
  }
  .Hoteltoutbleuetblanc1 {
    margin-bottom: 15px;
    height: 163px;
  }
  .etoileenligne3 {
    margin-top: 0px;
  }
  .etoileenligne1 {
    margin-top: 0px;
  }
  .fortiles {
    margin-right: 0px;
  }
  h4 {
    text-align: left;
  }
  aside {
    width: 360px;
  }
  footer {
    width: 360px;
  }
}
@media screen and (min-width: 370px) and (max-width: 380px) {
  .fa-search {
    left: 288px;
    top: -40px;
  }
  nav {
    width: 300px;
  }
  .HébergementActivités {
    width: 350px;
  }
  aside {
    margin-left: -5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  section {
    margin-left: -5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .zoneactivite1 {
    width: 375px;
    margin-left: 10px;
  }
  header {
    width: 345px;
  }
  footer {
    width: 365px;
  }
  .Hotellesoleildumatin1 {
    margin-left: 5px;
  }
  .AucoeurdeleauChambresdhotes1 {
    margin-left: 5px;
  }
  .Hoteltoutbleuetblanc1 {
    margin-left: 5px;
  }
  .Aubergedelacannebiere10 {
    margin-left: 10px;
  }
  .Hotelduport10 {
    margin-left: 10px;
  }
  .hotellesmouettes10 {
    margin-left: 10px;
  }
  .Hoteldelamer {
    margin-left: 10px;
  }
  .HotelchezAmina10 {
    margin-left: 10px;
  }
  .AubergelePanier10 {
    margin-left: 10px;
  }
  .logoeconomique {
    margin-right: 5px;
  }
  .iconFamilial {
    padding: 0px 40px 0 0;
  }
}
@media screen and (min-width: 576px) /* code pour tablette */ {
  section {
    align-items: center;
    flex-direction: initial;
    justify-content: space-evenly;
    margin-left: 3px;
  }
  .Afficherplus {
    margin-left: 80px;
  }
  .photoAuBergeCannebière {
    height: 200px;
    width: 250px;
  }
  .photoHotelduport {
    height: 200px;
    width: 250px;
  }
  .photoHotellesmouettes {
    height: 200px;
    width: 250px;
  }
  .photoHoteldelamer {
    height: 200px;
    width: 250px;
  }
  .photoHotelchezAmina {
    height: 200px;
    width: 250px;
  }
  .photoAubergelePanier {
    height: 200px;
    width: 250px;
  }
  .AubergedelaCannebière {
    width: 251px;
  }
  .Hotelduport {
    width: 249px;
  }
  .Hotellesoleildumatin1 {
    margin-bottom: 90px;
  }
  .AucoeurdeleauChambresdhotes1 {
    margin-bottom: 90px;
  }
  .Hoteltoutbleuetblanc1 {
    margin-bottom: 90px;
  }

  /*.fortiles{
     margin-right: 0px;
 }*/
}
@media screen and (max-width: 321px) and (min-width: 315px) {
  body {
    margin-left: 1px;
  }
  header {
    width: 319px;
  }

  aside {
    width: 315px;
    /*margin-left: 12px;*/
    padding-left: 4px;
  }
  .Hotellesoleildumatin1 {
    width: 100%;
  }

  section {
    width: 315px;
    align-items: center;
    padding-right: 10px;
    padding-left: 0px;
    /* margin-left: 10px;*/
  }
  .iconFamilial {
    padding: 0 30px 0 0;
  }
  .Vieuxport1 {
    width: 278px;
    margin-left: 13px;
  }
  .photoVieuxport {
    width: 280px;
    height: 200px;
  }
  .Fort {
    width: 278px;
    margin-left: 13px;
  }
  .photoFort {
    width: 280px;
    height: 200px;
  }
  .iles {
    width: 278px;
    margin-left: 13px;
  }
  .photoiles {
    width: 280px;
    height: 200px;
  }
  .ParcNationalCalanques {
    width: 278px;
    margin-left: 13px;
  }
  .photoCalanques {
    width: 280px;
    height: 200px;
  }
  .Notre-Dame-de-la-Garde {
    width: 278px;
    margin-left: 13px;
  }
  .photoDamedelagarde {
    width: 280px;
    height: 200px;
  }
  .ParcdeLomgchamp {
    width: 278px;
    margin-left: 13px;
  }
  .photolomgchamp {
    width: 280px;
    height: 200px;
  }
  .Hotellesoleildumatin1 {
    width: 310px;
  }
  .AucoeurdeleauChambresdhotes1 {
    width: 310px;
  }
  .Hoteltoutbleuetblanc1 {
    width: 310px;
  }
  .Aubergedelacannebiere10 {
    margin-left: 10px;
    width: 247px;
  }
  .photoAuBergeCannebière {
    width: 249px;
  }
  .Hotelduport10 {
    margin-left: 10px;
    width: 247px;
  }
  .photoHotelduport {
    width: 249px;
  }
  .hotellesmouettes10 {
    margin-left: 10px;
    width: 247px;
  }
  .photoHotellesmouettes {
    width: 249px;
  }
  .Hoteldelamer {
    margin-left: 10px;
    width: 249px;
  }
  .photoHoteldelamer {
    width: 249px;
  }
  .HotelchezAmina10 {
    margin-left: 10px;
    width: 249px;
  }
  .photoHotelchezAmina {
    width: 249px;
  }
  .AubergelePanier10 {
    margin-left: 10px;
    width: 249px;
  }
  .photoAubergelePanier {
    width: 249px;
  }
  .zoneactivite1 {
    width: 300px;
    margin-left: 20px;
  }
  figure {
    margin-left: -15px;
    margin-right: 0px;
  }
  footer {
    margin-left: -5px;
    width: 300px;
    padding-left: 35px;
  }
  nav {
    width: 315px;
    margin-left: 5px;
  }
  .HébergementActivités {
    margin-top: 20px;
    left: -80px;
    width: 235px;
  }
  .iconEconoEtFamilial {
    flex-wrap: wrap;
  }
  .textpersobarrederecherche {
    width: 159px;
  }
  .fa-map-marker-alt {
    width: 15px;
  }
  .bouton-perso {
    width: 50px;
  }
  .fa-search {
    left: -40px;
    top: 4px;
  }
  .Inscrire {
    left: -130px;
    top: -50px;
  }
  .Hebergement {
    margin-left: 140px;
  }
}
@media screen and (max-width: 364px) and (min-width: 359px) {
  body {
    overflow-x: hidden;
  }
  section {
    width: 344px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 8px;
    padding-right: 6px;
  }
  figure {
    padding-left: 22px;
  }
  aside {
    width: 340px;
    padding-left: 8px;
    padding-right: 6px;
    margin-left: 0px;
  }
  .fa-search {
    left: -55px;
    top: 3px;
  }
  .Inscrire {
    left: -85px;
    top: -68px;
  }
  .Hebergement {
    margin-right: 0px;
  }
  .HébergementActivités {
    width: 310px;
  }
  .Hebergementetpluspopulaire {
    margin-left: 0px;
  }
  .textpersobarrederecherche {
    width: 165px;
  }
  .logofamilial {
    margin-right: 0px;
  }
  .iconEconomique {
    padding: 0;
  }
  .iconFamilial {
    padding: 0 15px 0 0;
  }

  .Aubergedelacannebiere10 {
    width: 320px;
  }
  .photoAuBergeCannebière {
    width: 320px;
  }
  .Hotelduport10 {
    width: 320px;
  }
  .photoHotelduport {
    width: 320px;
  }
  .hotellesmouettes10 {
    width: 320px;
  }
  .photoHotellesmouettes {
    width: 320px;
  }
  .Hoteldelamer {
    width: 320px;
  }
  .photoHoteldelamer {
    width: 320px;
  }
  .HotelchezAmina10 {
    width: 320px;
  }
  .photoHotelchezAmina {
    width: 320px;
  }
  .AubergelePanier10 {
    width: 320px;
  }
  .photoAubergelePanier {
    width: 320px;
  }

  .zoneactivite1 {
    width: 340px;
    margin-right: 50px;
    margin-left: 0px;
  }
  .photoVieuxport {
    width: 279px;
  }
  .photoFort {
    width: 279px;
  }
  .photoiles {
    width: 279px;
  }
  .photoCalanques {
    width: 279px;
  }
  .photoDamedelagarde {
    width: 279px;
  }
  .photolomgchamp {
    width: 279px;
  }
  .Vieuxport1 {
    width: 280px;
  }
  .Fort {
    width: 280px;
  }
  .iles {
    width: 280px;
  }
  .ParcNationalCalanques {
    width: 280px;
  }
  .Notre-Dame-de-la-Garde {
    width: 280px;
  }
  .Notre-Dame-de-la-Garde {
    width: 280px;
  }
  .ParcdeLomgchamp {
    width: 280px;
  }
  footer {
    width: 350px;
  }
  .Hotellesoleildumatin1 {
    width: 100%;
  }
  .AucoeurdeleauChambresdhotes1 {
    width: 100%;
  }
  .Hoteltoutbleuetblanc1 {
    width: 100%;
  }
  nav {
    width: 335px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 390px) and (max-width: 414px) {
  .fa-search {
    left: -55px;
    top: 6px;
  }
  section {
    width: auto;
    margin-left: 0px;
    margin-left: -5px;
    margin-right: -10px;
  }
  .zoneactivite1 {
    margin-left: 0px;
    width: 390px;
    padding-bottom: 40px;
  }
  figure {
    margin: 0;
    width: 400px;
    padding-left: 7px;
  }
  .Inscrire {
    top: -62px;
    left: -109px;
  }
  .Activites01 {
    padding-right: 100px;
  }
  aside {
    width: auto;
    padding-left: 20px;
    padding-left: 17px;
    margin-left: -5px;
    margin-right: -10px;
  }
  .Hotellesoleildumatin1 {
    margin-bottom: 10px;
  }
  .Hebergementetpluspopulaire {
    margin-left: 0px;
  }
  .AucoeurdeleauChambresdhotes1 {
    margin-bottom: 10px;
  }
  .Hoteltoutbleuetblanc1 {
    margin-bottom: 10px;
  }
  .Aubergedelacannebiere10 {
    width: 360px;
    margin-left: 13px;
  }
  .photoAuBergeCannebière {
    width: 360px;
  }
  h3 {
    margin-bottom: -10px;
  }
  h6 {
    margin-bottom: 15px;
  }
  h4 {
    text-align: left;
  }
  .Hotelduport10 {
    width: 360px;
    margin-left: 13px;
  }
  .photoHotelduport {
    width: 360px;
    height: 170px;
  }
  .hotellesmouettes10 {
    width: 360px;
    margin-left: 13px;
  }
  .photoHotellesmouettes {
    width: 360px;
    height: 170px;
  }
  .Hoteldelamer {
    width: 360px;
    margin-left: 13px;
  }
  .photoHoteldelamer {
    width: 360px;
    height: 170px;
  }
  .HotelchezAmina10 {
    width: 360px;
    margin-left: 13px;
  }
  .photoHotelchezAmina {
    width: 360px;
    height: 170px;
  }
  .AubergelePanier10 {
    width: 360px;
    margin-left: 13px;
  }
  .photoAubergelePanier {
    width: 360px;
    height: 170px;
  }
  .Vieuxport1 {
    /* width: 350px;*/
    margin-right: 0px;
  }
  .photoVieuxport {
    height: 300px;
    width: 385px;
  }
  .photoCalanques {
    height: 300px;
    width: 385px;
  }
  .photoFort {
    width: 380px;
    height: 300px;
  }
  .photoiles {
    width: 380px;
    height: 300px;
  }
  .photoDamedelagarde {
    width: 380px;
    height: 300px;
  }
  .photolomgchamp {
    width: 380px;
    height: 300px;
  }

  footer {
    width: 400px;
    margin-left: -10px;
  }
  nav {
    margin-left: 0px;
    width: 310px;
  }
  .logo {
    margin-left: 10px;
  }
  .iconFamilial {
    margin-left: 0px;
    padding: 0 28px 0 0;
  }
  .iconEconomique {
    margin-left: 0px;
  }
  .iconRomantique {
    width: 250px;
  }
  .iconAnimaux {
    width: 250px;
  }
  .iconEconoEtFamilial {
    margin-left: 0px;
  }
  .HébergementActivités {
    position: relative;
    left: 45px;
    width: 194px;
  }
  .Activites01 {
    padding-right: 0px;
  }
  .recherche {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media screen and (min-width: 413px) and (max-width: 415px) {
  figure {
    padding-left: 6px;
  }
  footer {
    margin-left: -10px;
    width: 410px;
  }
  aside {
    padding-left: 18px;
  }
  section {
    padding-left: 7px;
  }
}
@media screen and (max-width: 540px) and (min-width: 500px) {
  body {
    margin-left: 0px;
  }
  .zoneactivite1 {
    width: 530px;
    margin-left: 15px;
  }
  .Inscrire {
    top: -85px;
    left: -57px;
  }
  figure {
    margin-left: 0px;
  }
  nav {
    width: 530px;
    margin-left: 5px;
  }
  section {
    width: 540px;
    align-items: center;
  }
  section {
    align-items: center;
    flex-direction: initial;
    justify-content: space-evenly;
    margin-left: 3px;
    padding-right: 13px;
  }
  aside {
    width: 530px;
    padding-left: 22px;
  }
  .Hotellesoleildumatin1 {
    margin-bottom: 10px;
  }
  .AucoeurdeleauChambresdhotes1 {
    margin-bottom: 10px;
  }
  .Hoteltoutbleuetblanc1 {
    margin-bottom: 10px;
  }
  .photoiles {
    width: 525px;
    height: 400px;
  }
  .photoCalanques {
    width: 525px;
    height: 400px;
  }
  .photoDamedelagarde {
    width: 525px;
    height: 400px;
  }
  .photolomgchamp {
    width: 525px;
    height: 400px;
  }
  .photoFort {
    width: 525px;
    height: 400px;
  }
  .photoVieuxport {
    width: 525px;
    height: 400px;
  }
  .photoAuBergeCannebière {
    height: 180px;
    width: 252px;
  }
  .photoHotelduport {
    width: 252px;
    height: 180px;
  }
  .photoHotellesmouettes {
    width: 252px;
    height: 180px;
  }
  .photoHoteldelamer {
    width: 252px;
    height: 180px;
  }
  .photoHotelchezAmina {
    width: 252px;
    height: 180px;
  }
  .photoAubergelePanier {
    width: 252px;
    height: 180px;
  }
  .Hebergementetpluspopulaire {
    width: 530px;
    margin-left: 0px;
  }
  footer {
    display: flex;
    width: 530px;
    padding-right: 10px;
  }
  .HébergementActivités {
    width: 415px;
  }
}
@media screen and (max-width: 768px) and (min-width: 750px) {
  figure {
    width: 675px;
    margin-left: 60px;
  }
  .zoneactivite1 {
    width: 675px;
    margin-left: -20px;
  }
  .iconAnimaux {
    width: 265px;
  }
  .iconRomantique {
    width: 265px;
  }
  .photoVieuxport {
    width: 670px;
    height: 530px;
  }
  .photoCalanques {
    width: 670px;

    box-shadow: 0px 0px 5px 1px #f2f2f2;
  }
  .photoiles {
    width: 670px;
    height: 530px;
  }
  .photoCalanques {
    width: 670px;
    height: 530px;
  }
  .photoDamedelagarde {
    width: 670px;
    height: 530px;
  }
  .photolomgchamp {
    width: 670px;
    height: 530px;
  }
  .photoFort {
    height: 530px;
    width: 670px;
  }
  .Hebergementetpluspopulaire {
    margin-left: 5px;
    margin-left: 20px;
  }
  .Hotellesoleildumatin1 {
    margin-bottom: 20px;
  }
  .AucoeurdeleauChambresdhotes1 {
    margin-bottom: 20px;
  }
  .Hoteltoutbleuetblanc1 {
    margin-bottom: 20px;
  }
  nav {
    width: 615px;
  }
  .Inscrire {
    top: -90px;
    left: -5px;
  }
  header {
    width: 675px;
  }
  section {
    width: 675px;
    padding-right: 23px;
    padding-left: 8px;
  }
  aside {
    width: 675px;
    padding-left: 32px;
  }
}
@media screen and (max-width: 285px) and (min-width: 270px) {
  .Hebergement {
    margin-left: 130px;
  }
  header {
    width: 345px;
  }
  .fa-search {
    top: -37px;
    left: 285px;
  }
  .HébergementActivités {
    width: 250px;
  }
  .Hebergementetpluspopulaire {
    margin-left: 2px;
  }
  aside {
    padding-left: 17px;
    margin-left: 4px;
  }

  .zoneactivite1 {
    margin-left: 18px;
  }
  footer {
    width: 395px;
  }
  section {
    width: 370px;
    margin-left: 4px;
  }
}
@media screen and (max-width: 850px) and (min-width: 790px) {
  .zoneactivite1 {
    width: 790px;
    margin-left: 0px;
  }
  .photoFort {
    width: 735px;
  }
  .photoiles {
    width: 735px;
  }
  .photoDamedelagarde {
    width: 735px;
  }
  .photolomgchamp {
    width: 735px;
  }
  figure {
    margin-left: 15px;
  }
  .Vieuxport1 {
    margin-right: 0px;
  }
  .fortiles {
    margin-right: 0px;
  }
  nav {
    width: 630px;
  }
  .Inscrire {
    top: -95px;
    left: 100px;
  }
  .Hebergementetpluspopulaire {
    margin-left: 0px;
  }
  aside {
    padding-left: 30px;
  }
  section {
    padding-right: 30px;
  }
}
@media screen and (min-width: 540px) and (max-width: 748px) {
  section {
    align-items: center;
  }
  .Aubergedelacannebiere10 {
    width: auto;
  }
  .Hotelduport10 {
    width: auto;
  }
  .hotellesmouettes10 {
    width: auto;
  }
  .Hoteldelamer {
    width: auto;
  }
  .HotelchezAmina10 {
    width: auto;
  }
  .AubergelePanier10 {
    width: auto;
  }
  .zoneactivite1 {
    margin-left: 20px;
  }
  figure {
    margin-left: 5px;
  }
  .Vieuxport1 {
    width: 500px;
  }
  .photoVieuxport {
    width: 500px;
    height: 400px;
  }
  .Fort {
    width: 500px;
  }
  .photoFort {
    width: 500px;
    height: 400px;
  }
  .iles {
    width: 500px;
  }
  .photoiles {
    width: 500px;
    height: 400px;
  }
  .ParcNationalCalanques {
    width: 500px;
  }
  .photoCalanques {
    width: 500px;
    height: 400px;
  }
  .Notre-Dame-de-la-Garde {
    width: 500px;
  }
  .photoDamedelagarde {
    width: 500px;
    height: 400px;
  }
  .ParcdeLomgchamp {
    width: 500px;
  }
  .photolomgchamp {
    width: 500px;
    height: 400px;
  }
}
@media screen and (min-width: 415px) and (max-width: 497px) {
  .HébergementActivités {
    position: relative;
    left: -300px;
  }
  .Inscrire {
    left: -133px;
  }
  section {
    align-items: center;
  }
  .zoneactivite1 {
    margin-left: 10px;
  }
  figure {
    margin-left: 0px;
  }
  .Vieuxport1 {
    width: 400px;
  }
  .photoVieuxport {
    width: 400px;
    height: 400px;
  }
  .Fort {
    width: 400px;
  }
  .photoFort {
    width: 400px;
    height: 400px;
  }
  .iles {
    width: 400px;
  }
  .photoiles {
    width: 400px;
    height: 400px;
  }
  .ParcNationalCalanques {
    width: 400px;
  }
  .photoCalanques {
    width: 400px;
    height: 400px;
  }
  .Notre-Dame-de-la-Garde {
    width: 400px;
  }
  .photoDamedelagarde {
    width: 400px;
    height: 400px;
  }
  .ParcdeLomgchamp {
    width: 400px;
  }
  .photolomgchamp {
    width: 400px;
    height: 400px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1400px) {
  section {
    margin-right: 15px;
  }
  aside {
    justify-content: space-between;
  }
  h2 {
    margin-left: 0px;
    margin-top: 66px;
  }
  .fortiles {
    width: 350px;
  }
  .DameParc {
    width: 350px;
  }
  .Vieuxport {
    width: 350px;
  }
  .ParcNationaldesCalanques {
    width: 350px;
  }
  .photoFort {
    width: 100%;
  }
  .photoiles {
    width: 100%;
  }
  .photoDamedelagarde {
    width: 100%;
  }
  .photolomgchamp {
    width: 100%;
  }
  .photoVieuxport {
    width: 100%;
  }
  .photoCalanques {
    width: 100%;
  }
  .Hebergementetpluspopulaire {
    margin-left: 0px;
  }
  .Aubergedelacannebiere10 {
    margin-left: 0px;
  }
  .Hotelduport10 {
    margin-left: 0px;
  }
  .hotellesmouettes10 {
    margin-left: 0px;
  }
  .Hoteldelamer {
    margin-left: 0px;
  }
  .HotelchezAmina10 {
    margin-left: 0px;
  }
  .AubergelePanier10 {
    margin-left: 0px;
  }
  .zoneactivite1 {
    margin-left: 10px;
  }
}
@media screen and (min-width: 1400px) {
  .zoneactivite1 {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 30px;
  }
  figure {
    margin: 0px;
  }
  .fortiles {
    width: 600px;
  }
  .DameParc {
    width: 600px;
  }
  .Vieuxport {
    width: 600px;
  }
  .ParcNationaldesCalanques {
    width: 600px;
  }
  .photoFort {
    width: 100%;
  }
  .photoiles {
    width: 100%;
  }
  .photoDamedelagarde {
    width: 100%;
  }
  .photolomgchamp {
    width: 100%;
  }
  .photoVieuxport {
    width: 100%;
  }
  .photoCalanques {
    width: 100%;
  }
}
