

body {

    font-family: 'Raleway', sans-serif;
       display: flex;
       flex-direction: column;
   
    
}

.Pagesansfooter {
    margin-left: 2%;
    
}

     section {
     
        display: flex;
        border-radius: 5px;
        background-color:#F2F2F2;
        flex-wrap: wrap;
        flex-direction:row;
        padding-left: 1px;
        margin-right: 5%;  
     
    }

   

    nav {
        display: flex;
        margin-left: 30px;
        right: 0%;
        bottom: 90%;
        color: #0065FC;
        min-width: 30%;
        justify-content: space-between;
    }

   


    .HébergementActivités {
     margin-left: 900px;
     display:flex;
     text-decoration: none;
    }

  .Hebergement {
      padding: 20px;
      text-decoration: none;
      margin-right: 50px;
  }
 
 .Activites01 {
     padding: 20px;
     text-decoration: none;
     
 }

  .Hebergement:hover {
      border-top: 3px #0065FC solid;
      
  }

  .Activites01:hover {
    border-top: 3px #0065FC solid;
  }

  #Activites {
    text-decoration: none;
  }

    footer {
        margin-left: 0%;
        padding-bottom: 20px;
        padding-left: 3%;
        background-color:#F2F2F2;
    
        display: flex;
        justify-content: flex-start;
       
    }

    .Fonctionnement {
        margin-right: 14%;
    }

    .Hebergementfoot {
        margin-right: 14%;
    }

    aside {
        display: flex;
        flex-direction: column;
           width: 40%;
    padding-left: 2%;           
        border: 1px solid #F2F2F2;
        background-color: #F2F2F2;
        border-radius: 5PX;
                  
        }


    figure {
               display: flex;
              width: 100%;
              
          }

          
     #h3 {
         font-weight: bold;
     }



          #logo {
            left: 1%;
    
           }
        
    
   .recherche {    
      margin-left: 30px;
      border-radius: 30% 10% 10% 30%;
    
         }
 
.textpersobarrederecherche {
    border-style: solid;
    border-color: #F2F2F2;
    width: 200px; 
    height: 45px;
}

         .barrederecherche {
             border-style: none;
             border-color: #F2F2F2;
             width: 300px; 
             height: 50px;
         }

         .logoinfo {
             color:#0065FC;
         }
    
.fa-map-marker-alt {
    width: 30px;
    border-radius: 20px 0 0 20px;
    padding-left: 2%;
    background-color: #F2F2F2;
    height: 36px;
    padding-top: 15px;
    padding-right: 10px;
}

    .bouton-perso {
        background-color: #0065FC;
        color: white;
        border-radius: 0 20px 20px 0;
        width: 150px;
        height: 50px;
    }
h5 {
    margin-left: 30px;
}
   

    h2 {
      font-weight: bold;
      margin-left: 30px;
      margin-top: 50px;
    }
    
    .iconAnimaux:hover {
        color: #0d11f5;
    }

    .iconRomantique:hover {
        color: #0d11f5;
    }

    .iconFamilial:hover {
        color: #0d11f5;
    }
  
   .iconEconomique:hover {
    color: #0d11f5;
   } 

  .Filtres {
      display: flex;    
      font-weight: 900;
      margin-top: 1%;
  }
 
  .logoeconomique {
    color: #0065FC;
    border-color: #DEEBFF;
    border-style: solid;
    border-radius: 75%;
    padding:28px; 
    background-color:#DEEBFF ;
    margin-right: 8px;
  }

  .iconEconomique {
    display: flex;
      margin-top: 1%;
      margin-left: 2%;
      border-style: solid;
      border-color:#F2F2F2;
      border-radius: 60px;
      padding: 0px 20px 0px 0px; 
      align-items: center;
  }

  .logofamilial {
    color: #0065FC;
    border-color: #DEEBFF;
    border-style: solid;
    border-radius: 75%;
    padding: 28px;
    background-color:#DEEBFF ;
    margin-right: 15px;
  }

  .iconFamilial {
      display: flex;
      margin-top: 1%;
      margin-left: 2%;
      border-style: solid;
      border-color:#F2F2F2;
      border-radius: 60px;
      padding: 0 50px 0 0 ; 
      align-items: center;
  }

  .logoromantique {
    color: #0065FC;
    border-color: #DEEBFF;
    border-style: solid;
    border-radius: 75%;
    padding: 29px;
    background-color:#DEEBFF ;
    margin-right: 15px;
  }

  .iconRomantique {
      margin-top: 25px;
      margin-left: 2%;
      border-style: solid;
      border-color:#F2F2F2;
      border-radius: 60px;
      padding: 0 20px 0 0; 
  }

  .logoanimaux {
    color: #0065FC;
    border-color: #DEEBFF;
    border-style: solid;
    border-radius: 75%;
    padding: 29px;
    background-color:#DEEBFF ;
    margin-right: 15px;
  }

  .iconAnimaux {
      margin-top: 25px;
      margin-left: 1%;
      border-style: solid;
      border-color:#F2F2F2;
      border-radius: 60px;
      padding: 0 20px 0 0; 
  }

.Hotelduport10 {
    
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    background-color: white;   
    width: 27%;    
    color: black;
    margin-left: 2%;
    margin-bottom: 5%;
    text-decoration: none;
    
}

.Aubergedelacannebiere10 {
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    background-color: white;     
    width: 27%;
    color: black;
    margin-left: 30px;
    margin-bottom: 5%;
    text-decoration: none;
    
}

.hotellesmouettes10 {
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    background-color: white;   
    padding-bottom: 2%;
  width: 27%;
    color: black;
    margin-left: 2%;
    margin-bottom: 5%;
    text-decoration: none;
    }

.Hoteldelamer {
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    background-color: white;   
    padding-bottom: 3%;
    width: 27%;
    color: black;
    margin-left: 30px;
    margin-bottom: 5%;
    text-decoration: none;
  }



.HotelchezAmina10 {
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    background-color: white;    
    padding-bottom: 3%;
   width: 27%;
    color: black;
    margin-left: 2%;
    margin-bottom: 5%;
    text-decoration: none;
  }

.AubergelePanier10 {
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    background-color: white;    
    padding-bottom: 3%;
  width: 27%;
    color: black;
    margin-left: 2%;
    margin-bottom: 5%;
    text-decoration: none;
  }

.Afficherplus {
    margin-left: 5%;
    margin-bottom: 3%;
    color: black;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}
 


.Vieuxport {     
    border-radius: 20px;
    background-color: white;   
    border-style: solid;
    border-color: #F2F2F2;
     width: 25%;
    text-decoration: none;
    box-shadow:  0px 0px 5px 1px #F2F2F2 ;
    color: black;
    margin-right: 3%;
    text-align: center;
}

.photoFort {
    border-radius: 20px 20px 0 0;
   width: auto;
   width: 100%;
   height: 220px;
   box-shadow:  0px 0px 5px 1px #F2F2F2;
}

.Fortdepomègues {   
    border-color: #F2F2F2;
    border-radius: 20px;
    background-color: white;
    width: 380px;
    height: 300px;
    text-decoration: none;
    box-shadow:  0px 0px 5px 2px #F2F2F2 ;
    color: black;
    text-align: center;
}

.photoiles {
    border-radius: 20px 20px 0 0;
    box-shadow:  0px 0px 5px 1px #F2F2F2;
    width: 100%;
 }

.ilesdufrioul {
    width: 380px;
    border-color: #F2F2F2;
    border-radius: 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    box-shadow:  0px 0px 5px 2px #F2F2F2 ;
    margin-top: 90px;
    margin-right: 30px;
    text-align: center;
}

.photoCalanques {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 500px;
}

.ParcNationaldesCalanques {
    width: 25%;
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 20px;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
    box-shadow:  0px 0px 5px 1px #F2F2F2 ;
    color: black;
    margin-right: 3%;
    text-align: center;
}

.photoDamedelagarde {
    border-radius: 20px 20px 0 0;
    width: 100%;
    box-shadow:  0px 0px 5px 1px #F2F2F2;
  
}

.Notre-Dame-de-la-Garde {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 20px;
    background-color: white;
    padding-top: 0.05%;
    text-align: center;
    text-decoration: none;
    box-shadow:  0px 0px 5px 2px #F2F2F2 ;
    color: black;
}

.photolomgchamp {
    border-radius: 20px 20px 0 0;
    width: 100%;
    box-shadow:  0px 0px 5px 1px #F2F2F2;
}

.ParcdeLomgchamp {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 20px;
    background-color: white;
    padding-top: 0.05%;
    text-align: center;
    text-decoration: none;
    box-shadow:  0px 0px 5px 2px #F2F2F2 ;
       color: black;
    margin-top: 90px;
}




.etoilebleu {
    color: #0065FC;
    border-color:  #F2F2F2;
   
}

.etoilevide {
    color:  #F2F2F2;
}

.Hébergement {
    width: 90%;
      
}

.Hotellesoleildumatin1 {
    display: flex;
    background-color: white;
        width: 95%;
     height: 170px;
    border-radius: 30px;   
    margin-bottom: 120px;
    margin-top: 27px;
    margin-right: 4%;
    color: black;
    text-decoration: none;
}

.AucoeurdeleauChambresdhotes1 {
    display: flex;
    background-color: white;
   height: 170px;
    width: 95%;
    border-radius: 30px;   
    margin-bottom: 120px;    
    margin-right: 4%;
    color: black;
    text-decoration: none;
}

.etoileenligne3 {
    margin-top: 50px;
}

.etoileenligne2 {

}

.etoileenligne1 {
 margin-top: 8px;
}

.texteCannebiere {
    margin-left: 5%;
}

.TexteHotelduport {
    margin-left: 5%;
}

.texthotelmouettes {
    margin-left: 5%;
}

.textehoteldelamer {
    margin-left: 5%;
}

.texteHotelchezAmina {
    margin-left: 5%;
}

.TexteAubergelepanier {
    margin-left: 5%;
}

.Hoteltoutbleuetblanc1 {
    display: flex;
    background-color: white;
   height: 170px;
    width: 95%;
    border-radius: 30px;
    margin-right: 4%;
    color: black;
    text-decoration: none;
    max-width: 100%
}

.fortiles {
  display: flex;
    flex-direction: column;
   
}

.DameParc {
    display: flex;
    flex-direction: column;
  
}
.Hotelsoleilalign {
    display: flex;
    flex-direction: column;
}

.photoHoteltoutbleueetblanc {
    width: 40%;
    max-width: 40%;
    border-radius: 15% 0% 0% 15%;
    padding: 1% 1% 1%;
    margin-right: 4%;
}

.iconEconoEtFamilial {
    display: flex;
    border-radius: 75%;
    padding: 8px 8px 12px 12px;
    display: flex;
    margin-top: 1%;
    margin-left: 2%;   
    border-radius: 60%;
    padding: 6px 10px 3px 0px; 
}

.photoAuBergeCannebière {
    width: 100%;
    border-radius: 20px 20px 0 0 ;
   
}

.photoHotelduport {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.photoHotellesmouettes {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.photoHoteldelamer {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.photoHotelchezAmina {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.photoAubergelePanier {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.photoHotelsoleildumatin {
    width: 40%;
    max-width: 40%;
    border-radius: 15% 0% 0% 15%;
    padding: 1% 1% 1%;
    margin-right: 4%;
}




.photoAucoeurdeleau-chambre-dhotes {
    width: 40%;
    max-width: 40%;
    border-radius: 15% 0% 0% 15%;
    padding: 1% 1% 1%;
    margin-right: 4%;
}

.Inscrire {
    padding: 20px;
    text-decoration: none;
}

.zoneactivite1 {
  
    display: flex;
  
   
}

.Hebergementetpluspopulaire {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-decoration: none;
    margin-bottom: 5%;
    margin-left: 30px;
}

.photoVieuxport {
    border-radius: 20px 20px 0 0;
    width: 100%;
    box-shadow:  0px 0px 5px 1px #F2F2F2;
    height: 530px;
}

.Hotelduport {
    text-decoration: none;
    color: black;
}

.AubergedelaCannebière {
    text-decoration: none;
    color: black;
}

.Hotellesmouettes {
    text-decoration: none;
    color: black;
}

.HotelchezAmina {
    text-decoration: none;
    color: black;
}

.AubergelePanier {
    text-decoration: none;
    color: black;
    
} 



                                                                    /* Css pour version Mobile */

 /*  @media screen and (max-width: 991px) { */

   @media screen and (max-width: 1024px) {  

   .bouton-perso {
       border-radius: 15px 20px 20px 15px;
       width: 50px;
   }


    .etoilebleu {
        margin-right: 2%;
    }

    .iconEconomique {
      font-size: 1.5em;
    }

    .iconFamilial {
        font-size: 1.5em;
    }

    .iconRomantique {
        font-size: 1.5em;
        
    }

    .iconAnimaux {
        font-size: 1.5em;
        margin-right: 600px;
    }
    
.Hebergementetpluspopulaire {
    display: flex;
    flex-direction: column-reverse;
}
    
.Hebergement {
    margin-right: 12px;
    font-size: 160%;
    
}

.Hebergement:hover {
    border-bottom: 3px #0065FC solid;
    border-top: none;
}

.Activites01 {
    font-size: 160%;
}

.Activites01:hover {
  border-bottom: 3px #0065FC solid;
  border-top: none;
}

.Inscrire:hover {
  border-top: 3px #0065FC solid;
}

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
     
    }

    .recherche {
        margin-right: auto;
    }
   
 .Filtres {
     flex-direction: column;
    width: 100%;
    
 }

 section {
     margin-right: 0%;
     flex-direction: column;
     margin-top: 2%;

 }

 figure {
      display: block;
      text-align: center;
      max-width: 100%;
 }

 footer {
     display: block;
    
 }


 .iconEconoEtFamilial {
    display: flex;
    
   
 }

 .iconRomantique {
     margin-right: 600px;
     padding-right: 4%;
 } 

 .iconAnimaux {  
  display: flex;
  flex-wrap: nowrap;
 }

aside {
    position: relative;  
    margin-top: 5%;
    width: auto;
}

.Hotellesoleildumatin1 {
   display: flex;
   text-align: center;
   height: 260px;
   margin-bottom: 20px;
}

.AucoeurdeleauChambresdhotes1 {
    display: flex;
    text-align: center;
    height: 260px;
    margin-bottom: 20px;
}

.Hoteltoutbleuetblanc1 {
    display: flex;
    text-align: center;
  height: 260px;
   
    
}

.Aubergedelacannebiere10 {
    width: 90%;
    margin-left: 2%;
    
    
}

.Hotelduport10 {
    width: 90%;
    margin-left: 2%;
}

.hotellesmouettes10 {
    width: 90%;
    margin-left: 2%;     
}

.Hoteldelamer {
    width: 90%;
    margin-left: 2%;     
}

.HotelchezAmina10 {
    width: 90%;
    margin-left: 2%;  
}

.AubergelePanier10 {
    width: 90%;
    margin-left: 2%;
    
}
.Filtres {
      justify-content: space-between;
}
.Vieuxport {
    box-shadow: none;
   
}

.etoileenligne1 {
    margin-top: 90px;
}

.etoileenligne2 {
    margin-top: 130px;
    margin-right: 150px;
}

.etoileenligne3 {
    margin-top: 130px;
    margin-right: 140px;
}

.Vieuxport1 {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 20px;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
    box-shadow:  0px 0px 5px 1px #F2F2F2 ;
    width: 100%;
    color: black;
}

.Fortdepomègues {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 20px;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
    margin-bottom: 20px;
    width: auto;
}

.ilesdufrioul {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 20px;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 0px;
    width: auto;
}

.ParcNationalCalanques {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 20px;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
    box-shadow:  0px 0px 5px 1px #F2F2F2 ;  
}

.Notre-Dame-de-la-Garde {
    border-radius: 20px;
    margin-bottom: 20px;
    width: auto;
}

.ParcdeLomgchamp {
    margin-top: 0%;
    width: auto;
}

.photoAuBergeCannebière {
    height: 300px;
}

.photoHotelduport {
    height: 300px;
}

.photoHotellesmouettes {
   
    height: 300px;
}

.photoHoteldelamer {
    
    height: 300px;
}

.photoHotelchezAmina {
  
    height: 300px;
}

.photoAubergelePanier {
  
    height: 300px;
}

.photoHotelsoleildumatin {
    width:250px;
  height: 240px;
    
}

.photoAucoeurdeleau-chambre-dhotes {
    width: 250px;
    height: 240px;
  
    
}

.photoHoteltoutbleueetblanc {
    width: 250px;
    height: 240px;   
}

.photoVieuxport {
    width: 100%;
    max-height: 350px;
    
}

.photoiles {
   width: 100%;
}

.photoCalanques {
    width: 100%;
    max-height: 350px;
    box-shadow:  0px 0px 5px 1px #F2F2F2;
  }


.photoFort {
  height: 350px;
}

.populaire {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
 }

 .HébergementActivités {
     margin-top: 10%;
     margin-left: 1%;
     width: 100%;
     justify-content: space-around;
 }

.recherche {
    width: 100%;
} 

.fortiles {
       display: block;
       flex-direction: column;
      
   }
   

.zoneactivite1 {
   margin-right: 50px;
    display: flex;
    justify-content: space-between;
}
} 
