@font-face {
    font-family: 'Shrikhand';
     src: url('Shrikhand-Regular.ttf') format('truetype');
     font-family: 'Roboto';
     src: url('Roboto-Regular.ttf') format('truetype');
}
   /*  @media screen and (max-width: 1024px) {  */
body {
    font-family: 'Roboto';
    text-align: center;
     }




title {
    font-family: 'Shrikhand';
}



                                   /*     Code Header     */

  .logo {
    height: 70px;
    padding: 40px 0 20px 0; 
    animation: font 8s ease-in-out  ;
  }                                 

  
  

                                      /*           Code de la partie Header    */ 

header {
    margin-top: 20px;
    margin-bottom: 20px;
    animation: font 8s ease-in-out  ;
}

 
                                          /*  Code de la partie section "restaurant" */  

section {
    background-color: #f7f7f7;
    text-align: left;
    animation: font 8s ease-in-out  ;

}

.Photopalettedugout {
    width: 900px;
    height: 500px;
    border-radius: 20px 20px 0 0;
}

.Photolanoteenchantee {
    width: 900px;
    height: 500px;
    border-radius: 20px 20px 0 0;
}

.PhotoAlafrancaise {
    width: 900px;
    height: 500px;
    border-radius: 20px 20px 0 0;
}

.PhotoLedelicedessens {
    width: 900px;
    height: 500px;
    border-radius: 20px 20px 0 0;
}


.restaurant {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 70px;
    margin-right: 20px;
    margin-left: 20px;
}

h3 {
    margin-left: 40px;
}

                         /* Grossissement au survol des restaurants a finir 
.restaurant:hover{
    transform: scale(1.2) ;
  
}         */


.fa-heart{
    margin-left: 500px;
    margin-bottom: 50px;  
    width: 62px; 
      
}
.fa-heart:active {
/*    transform: scale(1.50);
    color: #9356DC;  */

    animation: animheart 3s ease-in-out;
    display: inline-block;
    opacity: 1;
    background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.nouveau {
    position: absolute;
    background-color: #99E2D0;
    margin-left: 700px;
    margin-top: 40px;
    padding: 0 50px 0 10px;
    color: teal;
    font-size: 22px;
}

.lienLapalettedugout {
    text-decoration: none;
      color: black;
}

.lienLanoteenchantée {
    text-decoration: none;
    color: black;
}

.lien {
    text-decoration: none;
    color: black;
}

.lieuxcoeur {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 70px;
    font-weight: normal;
    font-size: 30px;
}
                                                        /*       Code pour la partie Nav          */

nav {
    background-color: #f7f7f7;
    text-align: center;
    padding-bottom: 120px;
    animation: font 8s ease-in-out ;
}



.localisation {

    background-color: #EDEDED;
   padding: 0px 0px 20px  0px ;
   box-shadow: 0px -10px 15px 0px #EAE5E5;
}

.textandAncre {
    margin-bottom: 80px;
    margin: 100px;
}

.ancreRestaurants {
    background: linear-gradient(#FF79DA,#ae76e1);
    background-color:#FF79DA ;
    border-radius: 120px;
    text-decoration-color: #f7f7f7;
    text-decoration-line: none;  
    color: white; 
    padding: 30px; 
    font-size: 15px;
    transition: transform .5s   ;
}


.fa-map-marker-alt {
    position: relative;
    left: -200px;
    bottom: -65px;
    
} 


                                                      /*  code de la partie Aside */

    aside {
        text-align: left;
        margin-left: 10px;
        animation: font 8s ease-in-out ;
    }     
    
    h4{
        position: relative;
        top: -39px;
    }
    
    .Choisir {
        display: flex; 
        justify-content: flex-start;
        font-weight: bold;  
        font-size: 30px;  }

    .Composez {
        display: flex;
        font-weight: bold; 
        font-size: 30px;    }
 
    .Degustez {
        display: flex;
    font-weight: bold; 
    font-size: 30px;   }

  .Fonctionnement {
    background-color: #f7f7f7;
    border-radius: 40px;
    margin-bottom: 30px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 50px 0px 50px 0px;
    }     
  

  .Fonctionnement:hover {
    background-color: #f7f0ff;    
  }
  .fa-mobile-alt{
      position: relative;
      top: 35px;
  }
  .fa-ellipsis-v {
    position: relative;
    top: 35px; 
  }
  .fa-bars{
    position: relative;
    top: 35px; 
  }
  .fa-store{
    position: relative;
    top: 35px;   
  }

.Numbers {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color:#9356DC ;
    margin-right: 30px; 
    padding: 12px 8px 8px 8px;  
    color: white;
    position: relative;
    left: -25px;
    top: 25px;
 }

.Numbers1 {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color:#9356DC ;
    margin-right: 30px; 
    padding: 12px 8px 8px 8px;  
    color: white;
    position: relative;
    left: -25px;
    top: 25px;
}

.Numbers2 {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color:#9356DC ;
    margin-right: 30px; 
    padding: 12px 8px 8px 8px;  
    color: white;
    position: relative;
    left: -25px;
    top: 25px;
}

.iconFonctionnement {
    color: #b9b9b9;
    margin-right: 40px;
}

.iconFonctionnement:hover {
    color: #9356DC;
}

  h2 {
      text-align: left;
      margin-left: 25px;
      padding: 90px 0 40px 0  }


                                                      /* Code pour Footer */

footer {
    text-align: left;
    color: white;
    background-color: #504d4d;
    padding: 40px;
    animation: font 8s ease-in-out  ;
}

.logofooter {
    filter: invert(100%);
    margin-bottom: 30px;
}

.fa-utensils {
  margin-right: 20px;
}

.fa-hands-helping {
    margin-right: 6px;
}

.a {
    text-decoration: none;
}

.mail {
    text-decoration: none;
    color: white;
}

                                                                            /* loader */

.loader {
    background:linear-gradient(to bottom right,#FF79DA,#9356DC,#99E2D0);
    width: 550px;
    height: 350px;
    font-size: 4.6rem;
    vertical-align: middle;
    text-align: center;
    position: fixed;
    z-index: 9999;
    border-radius: 50%;
    pointer-events: none;
    margin: 600px 50px 50px 200px; 
    animation: loader 5s ease-in-out 1.3s forwards;  
}

@keyframes font {
   0% {
        opacity: -1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}

@keyframes loader {
    0% { transform: rotate(0deg);    opacity: 1; }
     50% {opacity: 0.5;}    
    100% { transform: rotate(360deg);
    opacity: 0; }
  }
  .loader {
    border: 16px solid #FF79DA;
    border-top: 16px solid #99E2D0;
  }

  .loaderimg {
      width: 480px;
      margin-top: 130px;
  }


 

                                               /* Format Grand écran  */


      @media screen and (min-width: 1024px)    {       

        section {
            text-align: center;
        }
      
.restaurant {
     
    align-content: center;
}
      
  
.loader {
    margin: 200px 0 0 650px; 
   
}

.fa-heart:hover {
    /*    transform: scale(1.50);
        color: #9356DC;  */
    
        animation: animheart 3s ease-in-out;
        display: inline-block;
        opacity: 1;
        background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
    .fa-map-marker-alt {
        bottom: -45px;
    }
    .textandAncre {
        display: flex;
       justify-content:space-around;
    }
}
@media screen and (max-width: 575px){     
    .nouveau{
        margin-left: 280px;
        font-size: 14px;
    }   
    .fa-heart{
        margin-left: 90px;
    }                                                             /* code pour mobile */
    .Photopalettedugout{
        width: 470px;
        height: 301px;
    }
    .Photolanoteenchantee{
      width: 484px;
      height: 301px;
    }
    .PhotoAlafrancaise{
        width: 490px;
        height: 317px;
    }
    .PhotoLedelicedessens{
        width: 492px;
        height: 310px;
    }
    .loader{
        width: 334px;
        height: 360px;
        margin: 190px 50px 50px 100px;
    }
    .loaderimg{       
        width: 230px;
    }
    }

@media screen and (min-width: 576px)                                                                             /* code pour tablette */ {

.Photopalettedugout{
    width: 750px;
}
.Photolanoteenchantee{
    width: 750px;
}
.PhotoAlafrancaise{
    width: 750px;
}
.PhotoLedelicedessens{
width: auto;    
}
}

