
body {
    font-family: 'Raleway', sans-serif;
       display: flex;
       flex-direction: column;
     margin-left: 2%;
}



     section {
         
        display: flex;
        border-radius: 5px;
        background-color:#F2F2F2;
        flex-wrap: wrap;
        flex-direction:row;
        padding-left: 1px;
        margin-right: 25%;                  
    }

    

    nav {
        display: flex;
        justify-content: space-around;
        position: absolute;
        right: 0%;
        bottom: 90%;
        color: #0065FC;
        min-width: 30%;
    }

 

    footer {
        
        padding-bottom: 20px;
        border-color: #F2F2F2;
        background-color:#F2F2F2;
      
        display: flex;
        justify-content: space-around;
    }

    aside {
        display: flex;
        flex-direction: column;
        position: absolute;               
        border: 1px solid #F2F2F2;
        background-color: #F2F2F2;
        border-radius: 5PX;
        top: 40%;
        left: 78%;
        height: 85%;
        
           
        }

    figure {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
          }
    
    #logo {
    left: 1%;
   }

   .recherche {
       border-color: whitesmoke;
      border-style: solid;
      margin-right: 80%;
      margin-left: 3%;
      background-color: #F2F2F2;
      border-radius: 10%;
         }
 
         .barrederecherche {
             border-style: none;
             border-color: #F2F2F2;
          
         }

         .logoinfo {
             color:#0065FC;
         }
    
    .bouton-perso {
        background-color: #0065FC;
        color: white;
        border-radius: 10%;
    }

    .textperso {
        border-radius: 10%;
    }

    #h2 {
      font-weight: bold;
    }

    .Filtres:hover {
        color: #DEEBFF;
    }

  .Filtres {
      display: flex;    
      font-weight: 900;
  }
 
  .logoeconomique {
    color: #0065FC;
    border-color: #DEEBFF;
    border-style: solid;
    border-radius: 75%;
    padding: 8px 8px 12px 12px;
    background-color:#DEEBFF ;
  }

  .iconEconomique {
      
      margin-top: 1%;
      margin-left: 2%;
      border-style: solid;
      border-color:#F2F2F2;
      border-radius: 60%;
      padding: 3px 10px 3px 0px; 
  }

  .logofamilial {
    color: #0065FC;
    border-color: #DEEBFF;
    border-style: solid;
    border-radius: 75%;
    padding: 8px 8px 12px 12px;
    background-color:#DEEBFF ;
  }

  .iconFamilial {
      margin-top: 1%;
      margin-left: 2%;
      border-style: solid;
      border-color:#F2F2F2;
      border-radius: 60%;
      padding: 3px 10px 3px 0px; 
  }

  .logoromantique {
    color: #0065FC;
    border-color: #DEEBFF;
    border-style: solid;
    border-radius: 75%;
    padding: 8px 8px 12px 12px;
    background-color:#DEEBFF ;
  }

  .iconRomantique {
      margin-top: 1%;
      margin-left: 2%;
      border-style: solid;
      border-color:#F2F2F2;
      border-radius: 60%;
      padding: 3px 10px 3px 0px; 
  }

  .logoanimaux {
    color: #0065FC;
    border-color: #DEEBFF;
    border-style: solid;
    border-radius: 75%;
    padding: 8px 8px 12px 12px;
    background-color:#DEEBFF ;
  }

  .iconAnimaux {
      margin-top: 1%;
      margin-left: 1%;
      border-style: solid;
      border-color:#F2F2F2;
      border-radius: 60%;
      padding: 3px 10px 3px 0px; 
  }

.Hotelduport {
    
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    background-color: white;
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 2%;
    width: 15%;
    height: 20%;
    color: black;
    margin-left: 18%;
    margin-bottom: 5%;
}
   
.AubergedelaCannebière{
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    background-color: white;
    padding-left: 4%;
    padding-top: 1%;
    width: 15%;
    height: 20%;
    color: black;
    margin-left: 4%;
    margin-bottom: 5%;
}

.Hotellesmouettes {
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    background-color: white;
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 2%;
    width: 15%;
    height: 4%;
    color: black;
    margin-left: 15%;
    margin-bottom: 5%;
}

.Hoteldelamer {
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    background-color: white;
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 3%;
    width: 15%;
    height: 4%;
    color: black;
    margin-left: 4%;
    margin-bottom: 5%;
}



.HotelchezAmina {
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    background-color: white;
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 15%;
    height: 4%;
    color: black;
    margin-left: 18%;
    margin-bottom: 5%;
}

.AubergelePanier {
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    background-color: white;
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 15%;
    height: 4%;
    color: black;
    margin-left: 15%;
    margin-bottom: 5%;
}

.Afficherplus {
    margin-left: 5%;
    margin-bottom: 3%;
    color: black;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}
 


.Vieuxport {     
    border-radius: 5%;
    background-color: white;   
    border-style: solid;
    border-color: #F2F2F2;
    padding-left: 0.05%;
    padding-top: 0.05%;
    text-decoration: none;
}
.Fortdepomègues {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 5%;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
}
.ilesdufrioul {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 5%;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
}
.ParcNationaldesCalanques {
    
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 5%;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
}
.Notre-Dame-de-la-Garde {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 5%;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
}
.ParcdeLomgchamp {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 5%;
    background-color: white;
    padding-top: 0.05%;
    border-width: 30%;
    text-decoration: none;
}

.etoilebleu {
    color: #0065FC;
    border-color:  #F2F2F2;
}

.etoilevide {
    color:  #F2F2F2;
}

.Hébergement {
    width: 90%;
    margin-left: 4%;
  
}

.Hotellesoleildumatin1 {
    display: flex;
    background-color: white;
        width: 95%;
    border-radius: 10%;
    margin-left: 2%;
    margin-bottom: 4%;
    margin-top: 4%;
    margin-right: 4%;
    color: black;
}

.AucoeurdeleauChambresdhotes1 {
    display: flex;
    background-color: white;
    
    width: 95%;
    border-radius: 10%;
    margin-left: 2%;
    margin-bottom: 4%;
    margin-top: 20%;
    margin-right: 4%;
    color: black;
}



.Hoteltoutbleuetblanc1 {
    display: flex;
    background-color: white;
    flex: 1%;
    width: 95%;
    border-radius: 10%;
    margin-left: 2%;
    margin-bottom: 14%;
    margin-top: 20%;
    margin-right: 4%;
    color: black;
}

.fortiles {
    display: flex;
    flex-direction: column;
}

.DameParc {
    display: flex;
    flex-direction: column;
}


