

body {

    font-family: 'Raleway', sans-serif;
       display: flex;
       flex-direction: column;
    
    
}



     section {
     
        display: flex;
        border-radius: 5px;
        background-color:#F2F2F2;
        flex-wrap: wrap;
        flex-direction:row;
        padding-left: 1px;
        margin-right: 5%;  
      
    }

   

    nav {
        display: flex;
   
        right: 0%;
        bottom: 90%;
        color: #0065FC;
        min-width: 30%;
    }

   


    .HébergementActivités {
     margin-left: 70%;
     display:flex;
     
    }

  .Hebergement {
      margin-right: 12px;
  }
 
  .Hebergement:hover {
      border-top: 3px #0065FC solid;
      
  }

  .Activites01:hover {
    border-top: 3px #0065FC solid;
  }

  .Inscrire:hover {
    border-top: 3px #0065FC solid;
  }
 

    footer {
        margin-left: 0%;
        padding-bottom: 20px;
        border-color: #F2F2F2;
        background-color:#F2F2F2;
    
        display: flex;
        justify-content: flex-start;
       
    }

    .Fonctionnement {
        margin-right: 14%;
    }

    .Hebergementfoot {
        margin-right: 14%;
    }

    aside {
        display: flex;
        flex-direction: column;
                      
        border: 1px solid #F2F2F2;
        background-color: #F2F2F2;
        border-radius: 5PX;
        justify-content: space-between;
        
           
        }

    figure {
               display: flex;
              width: 100%;
              
          }

          
     



          #logo {
            left: 1%;
    
           }
        
    
   .recherche {
       border-color: whitesmoke;
      border-style: solid;
     
      margin-left: 3%;
      background-color: #F2F2F2;
      border-radius: 10%;
      margin-right: auto;
         }
 
         .barrederecherche {
             border-style: none;
             border-color: #F2F2F2;
             width: 300px; 
             height: 50px;
         }

         .logoinfo {
             color:#0065FC;
         }
    
    .bouton-perso {
        background-color: #0065FC;
        color: white;
        border-radius: 10%;
        width: 150px;
        height: 50px;
    }

    .textperso {
        border-radius: 10%;
    }

    #h2 {
      font-weight: bold;
    }
    
    .iconAnimaux:hover {
        color: #0d11f5;
    }

    .iconRomantique:hover {
        color: #0d11f5;
    }

    .iconFamilial:hover {
        color: #0d11f5;
    }
  
   .iconEconomique:hover {
    color: #0d11f5;
   } 

  .Filtres {
      display: flex;    
      font-weight: 900;
      margin-top: 1%;
  }
 
  .logoeconomique {
    color: #0065FC;
    border-color: #DEEBFF;
    border-style: solid;
    border-radius: 75%;
    padding:15px 15px 15px 15px;
    background-color:#DEEBFF ;
    
  }

  .iconEconomique {
    display: flex;
      margin-top: 1%;
      margin-left: 2%;
      border-style: solid;
      border-color:#F2F2F2;
      border-radius: 60%;
      padding: 1px 10px 3px 0px; 
      align-items: center;
  }

  .logofamilial {
    color: #0065FC;
    border-color: #DEEBFF;
    border-style: solid;
    border-radius: 75%;
    padding: 15px 15px 15px 15px;
    background-color:#DEEBFF ;
  }

  .iconFamilial {
      display: flex;
      margin-top: 1%;
      margin-left: 2%;
      border-style: solid;
      border-color:#F2F2F2;
      border-radius: 60%;
      padding: 1px 10px 3px 0px; 
      align-items: center;
  }

  .logoromantique {
    color: #0065FC;
    border-color: #DEEBFF;
    border-style: solid;
    border-radius: 75%;
    padding: 15px 15px 15px 15px;
    background-color:#DEEBFF ;
    
  }

  .iconRomantique {
      margin-top: 1%;
      margin-left: 2%;
      border-style: solid;
      border-color:#F2F2F2;
      border-radius: 60%;
      padding: 11px 10px 3px 0px; 
  }

  .logoanimaux {
    color: #0065FC;
    border-color: #DEEBFF;
    border-style: solid;
    border-radius: 75%;
    padding: 15px 15px 15px 15px;
    background-color:#DEEBFF ;
  }

  .iconAnimaux {
      margin-top: 1%;
      margin-left: 1%;
      border-style: solid;
      border-color:#F2F2F2;
      border-radius: 60%;
      padding: 12px 10px 3px 0px; 
  }

.Hotelduport10 {
    
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    background-color: white;
    padding-left: 2%;
    padding-top: 1%;
    width: 26%;    
    color: black;
    margin-left: 2%;
    margin-bottom: 5%;
    text-decoration: none;
    padding: 10px;
}

.Aubergedelacannebiere10 {
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    background-color: white;
    padding-left: 2%;
    padding-top: 1%;
    width: 26%;
    color: black;
    margin-left: 1%;
    margin-bottom: 5%;
    text-decoration: none;
    padding: 10px;
    
}

.hotellesmouettes10 {
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    background-color: white;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 2%;
  width: 26%;
    color: black;
    margin-left: 2%;
    margin-bottom: 5%;
    text-decoration: none;
    padding: 10px;
}

.Hoteldelamer {
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    background-color: white;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 3%;
    width: 26%;
    color: black;
    margin-left: 1%;
    margin-bottom: 5%;
    text-decoration: none;
    padding: 10px;
}



.HotelchezAmina10 {
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    background-color: white;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 3%;
   width: 26%;
    color: black;
    margin-left: 2%;
    margin-bottom: 5%;
    text-decoration: none;
    padding: 10px;
}

.AubergelePanier10 {
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    background-color: white;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 3%;
  width: 26%;
    color: black;
    margin-left: 2%;
    margin-bottom: 5%;
    text-decoration: none;
    padding: 10px;
}

.Afficherplus {
    margin-left: 5%;
    margin-bottom: 3%;
    color: black;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}
 


.Vieuxport {     
    border-radius: 10%;
    background-color: white;   
    border-style: solid;
    border-color: #F2F2F2;
     width: 25%;
    text-decoration: none;
    box-shadow:  0px 0px 5px 1px #F2F2F2 ;
    color: black;
    margin-right: 3%;
}

.photoFort {
    border-radius: 4%;
   width: auto;
   width: 100%;
}

.Fortdepomègues {   
    border-color: #F2F2F2;
    border-radius: 9%;
    background-color: white;
    width: 80%;
    text-decoration: none;
    box-shadow:  0px 0px 5px 2px #F2F2F2 ;
    color: black;
}

.photoiles {
    border-radius: 4%;
   
    width: 100%;
}

.ilesdufrioul {
    width: 80%;
    border-color: #F2F2F2;
    border-radius: 9%;
    background-color: white;
    color: black;
    text-decoration: none;
    box-shadow:  0px 0px 5px 2px #F2F2F2 ;
    margin-top: 15%;
}

.photoCalanques {
    border-radius: 4%;
    width: 100%;

}

.ParcNationaldesCalanques {
    width: 25%;
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 10%;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
    box-shadow:  0px 0px 5px 1px #F2F2F2 ;
    color: black;
    margin-right: 3%;
}

.photoDamedelagarde {
    border-radius: 4%;
    width: 100%;
}

.Notre-Dame-de-la-Garde {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 9%;
    background-color: white;
    padding-top: 0.05%;
   
    text-decoration: none;
    box-shadow:  0px 0px 5px 2px #F2F2F2 ;
    width: 80%;
    color: black;
}

.photolomgchamp {
    border-radius: 4%;
    width: 100%;
}

.ParcdeLomgchamp {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 9%;
    background-color: white;
    padding-top: 0.05%;
   
    text-decoration: none;
    box-shadow:  0px 0px 5px 2px #F2F2F2 ;
    width: 80%;
    color: black;
    margin-top: 15%;
}

.etoilebleu {
    color: #0065FC;
    border-color:  #F2F2F2;
}

.etoilevide {
    color:  #F2F2F2;
}

.Hébergement {
    width: 90%;
    margin-left: 4%;
  
}

.Hotellesoleildumatin1 {
    display: flex;
    background-color: white;
        width: 95%;
     
    border-radius: 10%;
    margin-left: 2%;
    margin-bottom: 4%;
    margin-top: 4%;
    margin-right: 4%;
    color: black;
    text-decoration: none;
}

.AucoeurdeleauChambresdhotes1 {
    display: flex;
    background-color: white;
   
    width: 95%;
    border-radius: 10%;
    margin-left: 2%;
    margin-bottom: 4%;
    margin-top: 20%;
    margin-right: 4%;
    color: black;
    text-decoration: none;
}



.Hoteltoutbleuetblanc1 {
    display: flex;
    background-color: white;
   
    width: 95%;
    border-radius: 10%;
    margin-left: 2%;
    margin-bottom: 14%;
    margin-top: 20%;
    margin-right: 4%;
    color: black;
    text-decoration: none;
    max-width: 100%
}

.fortiles {
    display: flex;
    flex-direction: column;
   
}

.DameParc {
    display: flex;
    flex-direction: column;
  
}
.Hotelsoleilalign {
    display: flex;
    flex-direction: column;
}

.photoHoteltoutbleueetblanc {
    width: 40%;
    max-width: 40%;
    border-radius: 15%;
    padding: 1% 1% 1%;
}

.iconEconoEtFamilial {
    display: flex;
    border-radius: 75%;
    padding: 8px 8px 12px 12px;
    display: flex;
    margin-top: 1%;
    margin-left: 2%;
  
   
    border-radius: 60%;
    padding: 6px 10px 3px 0px; 
}

.photoAuBergeCannebière {
    width: 100%;
    border-radius: 15%;
   
}

.photoHotelduport {
    width: 100%;
    border-radius: 15%;
}

.photoHotellesmouettes {
    width: 100%;
    border-radius: 15%;
}

.photoHoteldelamer {
    width: 100%;
    border-radius: 15%;
}

.photoHotelchezAmina {
    width: 100%;
    border-radius: 15%;
}

.photoAubergelePanier {
    width: 100%;
    border-radius: 15%;
}

.photoHotelsoleildumatin {
    width: 40%;
    max-width: 40%;
    border-radius: 15%;
    padding: 1% 1% 1%;
}




.photoAucoeurdeleau-chambre-dhotes {
    width: 40%;
    max-width: 40%;
    border-radius: 15%;
    padding: 1% 1% 1%;
}

.Inscrire {
    margin-left: 0.5%;
}

.zoneactivite1 {
  
    display: flex;
  
   
}

.Hebergementetpluspopulaire {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-decoration: none;
}

.photoVieuxport {
    border-radius: 10%;
    width: 100%;
    
}

.Hotelduport {
    text-decoration: none;
    color: black;
}

.AubergedelaCannebière {
    text-decoration: none;
    color: black;
}

.Hotellesmouettes {
    text-decoration: none;
    color: black;
}

.HotelchezAmina {
    text-decoration: none;
    color: black;
}

.AubergelePanier {
    text-decoration: none;
    color: black;
    
} 

                                                                    /* Css pour version Mobile */

   @media screen and (max-width: 991px) { 

  /*  @media screen and (max-width: 1024px) {  */

   
    .etoilebleu {
        margin-right: 10px;
    }

    .iconEconomique {
      font-size: 1.5em;
    }

    .iconFamilial {
        font-size: 1.5em;
    }

    .iconRomantique {
        font-size: 1.5em;
        
    }

    .iconAnimaux {
        font-size: 1.5em;
    }
    
.Hebergementetpluspopulaire {
    display: flex;
    flex-direction: column-reverse;
}
    
.Hebergement {
    margin-right: 12px;
    font-size: 160%;
    
}

.Hebergement:hover {
    border-bottom: 3px #0065FC solid;
    border-top: none;
}

.Activites01 {
    font-size: 160%;
}

.Activites01:hover {
  border-bottom: 3px #0065FC solid;
  border-top: none;
}

.Inscrire:hover {
  border-top: 3px #0065FC solid;
}

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
     
    }

    .recherche {
        margin-right: auto;
    }
   
 .Filtres {
     flex-direction: column;
    width: 100%;
    
 }

 section {
     margin-right: 0%;
     flex-direction: column;
     margin-top: 2%;
 }

 figure {
      display: block;
      text-align: center;
      max-width: 100%;
 }

 footer {
     display: block;
    
 }


 

 .iconEconoEtFamilial {
    display: flex;
    
   
 }

 .iconRomantique {
     margin-right: 72%;
     padding-right: 4%;
 } 

 .iconAnimaux {
  margin-right: 70%;
  display: flex;
  flex-wrap: nowrap;
text-align: center;
 }

aside {
   
    position: relative;  
    margin-top: 5%;
    
}

.Hotellesoleildumatin1 {
   display: flex;
   text-align: center;
   margin: 0% 0% 2% 3%;
   
}

.AucoeurdeleauChambresdhotes1 {
    display: flex;
    text-align: center;
    margin: 0% 0% 2% 3%;
}

.Hoteltoutbleuetblanc1 {
    display: flex;
    text-align: center;
    margin: 0% 0% 2% 3%;
    width: 95%;
    
}

.Aubergedelacannebiere10 {
    width: 90%;
    margin-left: 2%;
    text-align: center;
    
}

.Hotelduport10 {
    width: 90%;
    margin-left: 2%;
    text-align: center;
    ;
}

.hotellesmouettes10 {
    width: 90%;
    margin-left: 2%;
    text-align: center;
   
}

.Hoteldelamer {
    width: 90%;
    margin-left: 2%;
    text-align: center;
  
}

.HotelchezAmina10 {
    width: 90%;
    margin-left: 2%;
    text-align: center;
  
}

.AubergelePanier10 {
    width: 90%;
    margin-left: 2%;
    text-align: center;
    
}
.Filtres {
      justify-content: space-between;
}
.Vieuxport {
    box-shadow: none;
   
}



.Vieuxport1 {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 5%;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
    box-shadow:  0px 0px 5px 1px #F2F2F2 ;
    width: 100%;
    color: black;
}

.Fortdepomègues {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 5%;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
    
}

.ilesdufrioul {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 5%;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
    margin-top: 0%;
    
}

.ParcNationalCalanques {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 5%;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
    box-shadow:  0px 0px 5px 1px #F2F2F2 ;
  
}

.ParcdeLomgchamp {
    margin-top: 0%;
}

.photoAuBergeCannebière {
    width: 95%;
    height: 40%;
}

.photoHotelduport {
    width: 95%;
    height: 40%;
}

.photoHotellesmouettes {
    width: 95%;
    height: 40%;
}

.photoHoteldelamer {
    width: 95%;
    height: 40%;
}

.photoHotelchezAmina {
    width: 95%;
    height: 40%;
}

.photoAubergelePanier {
    width: 95%;
    height: 40%;
}

.photoHotelsoleildumatin {
    width: 50%;
   border-radius: 15%;
    max-width: 100%;
}

.photoAucoeurdeleau-chambre-dhotes {
    width: 50%;
   border-radius: 15%;
    max-width: 100%;
}

.photoHoteltoutbleueetblanc {
    width: 50%;
  
    max-width: 100%;
    border-radius: 15%;
}

.photoVieuxport {
    width: 100%;
    max-height: 350px;
    
}

.photoiles {
    width: 50%;
}

.photoCalanques {
    width: 450px;
    max-height: 350px;
}

.photoDamedelagarde {
    width: 50%;
}

.photolomgchamp {
    width: 50%;
}

.photoFort {
    width: 50%;
}

.populaire {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
 }

 .HébergementActivités {
     margin-top: 10%;
     margin-left: 1%;
     width: 100%;
     justify-content: space-around;
 }

.recherche {
    width: 100%;
} 



.zoneactivite1 {
    max-height: 50%;
    display: flex;
    justify-content: space-between;
}
} 
                                                                 /* Css pour version petit écran  */


  @media screen and (max-width: 1024px) { 

    .etoilebleu {
        margin-right: 10px;
    }
 
aside {
   
    height: auto;
    width: 100%;
}


}

figure {
     
     flex-wrap: nowrap;
}



.photoFort {
    width: 95%;
}

.photoVieuxport {
    width: 95%;
}

.photoiles {
    width: 95%;
}

.photoCalanques {
    width: 95%;
}

.photoDamedelagarde {
    width: 90%;}

.photolomgchamp {
    width: 90%;}

.Fortdepomègues {
    width: 100%;}

.ilesdufrioul {
    width: 100%;}

.Notre-Dame-de-la-Garde {
    width: 100%;}

.ParcdeLomgchamp {
    width: 100%;}

    /*
.photoHoteltoutbleueetblanc { 
   width: 40%;}

.photoAucoeurdeleau-chambre-dhotes { 
    width: 45%;}
.photoHotelsoleildumatin { 
    width: 45% ;}
    .photoAuBergeCannebière {
        width: 60%;}
        .photoHotelduport {
            width: 60%;}
            .photoHotellesmouettes {
                width: 60%; }
          .photoHoteldelamer {
              width: 60%;      }
              .photoHotelchezAmina {
                  width: 60%;     }
                  .photoAubergelePanier {
                      width: 60%;
                  } */





}   

 

}