
body {
    font-family: 'Raleway', sans-serif;
       display: flex;
       flex-direction: column;
     margin-left: 2%;
     max-width: 98%;
}



     section {
         
        display: flex;
        border-radius: 5px;
        background-color:#F2F2F2;
        flex-wrap: wrap;
        flex-direction:row;
        padding-left: 1px;
        margin-right: 25%;  
      
    }

   

    nav {
        display: flex;
   
        right: 0%;
        bottom: 90%;
        color: #0065FC;
        min-width: 30%;
    }

   


    .HébergementActivités {
     margin-left: 70%;
     display:flex;
     
    }

  .Hebergement {
      margin-right: 12px;
  }
 
 

    footer {
        
        padding-bottom: 20px;
        border-color: #F2F2F2;
        background-color:#F2F2F2;
      
        display: flex;
        justify-content: space-around;
    }

    aside {
        display: flex;
        flex-direction: column;
        position: absolute;               
        border: 1px solid #F2F2F2;
        background-color: #F2F2F2;
        border-radius: 5PX;
        top: 40%;
        left: 78%;
        height: 85%;
        
           
        }

    figure {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
          }
    
          #logo {
            left: 1%;
    
           }
        
    
   .recherche {
       border-color: whitesmoke;
      border-style: solid;
      margin-right: 80%;
      margin-left: 3%;
      background-color: #F2F2F2;
      border-radius: 10%;
         }
 
         .barrederecherche {
             border-style: none;
             border-color: #F2F2F2;
          
         }

         .logoinfo {
             color:#0065FC;
         }
    
    .bouton-perso {
        background-color: #0065FC;
        color: white;
        border-radius: 10%;
    }

    .textperso {
        border-radius: 10%;
    }

    #h2 {
      font-weight: bold;
    }
    
    .iconAnimaux:hover {
        color: #0d11f5;
    }

    .iconRomantique:hover {
        color: #0d11f5;
    }

    .iconFamilial:hover {
        color: #0d11f5;
    }
  
   .iconEconomique:hover {
    color: #0d11f5;
   } 

  .Filtres {
      display: flex;    
      font-weight: 900;
      margin-top: 1%;
  }
 
  .logoeconomique {
    color: #0065FC;
    border-color: #DEEBFF;
    border-style: solid;
    border-radius: 75%;
    padding:11px 10px 15px 15px;
    background-color:#DEEBFF ;
     
  }

  .iconEconomique {
    display: flex;
      margin-top: 1%;
      margin-left: 2%;
      border-style: solid;
      border-color:#F2F2F2;
      border-radius: 60%;
      padding: 16px 10px 3px 0px; 
     
  }

  .logofamilial {
    color: #0065FC;
    border-color: #DEEBFF;
    border-style: solid;
    border-radius: 75%;
    padding: 8px 8px 12px 12px;
    background-color:#DEEBFF ;
  }

  .iconFamilial {
      display: flex;
      margin-top: 1%;
      margin-left: 2%;
      border-style: solid;
      border-color:#F2F2F2;
      border-radius: 60%;
      padding: 16px 10px 3px 0px; 
  }

  .logoromantique {
    color: #0065FC;
    border-color: #DEEBFF;
    border-style: solid;
    border-radius: 75%;
    padding: 15px 15px 19px 20px;
    background-color:#DEEBFF ;
  }

  .iconRomantique {
      margin-top: 1%;
      margin-left: 2%;
      border-style: solid;
      border-color:#F2F2F2;
      border-radius: 60%;
      padding: 11px 10px 3px 0px; 
  }

  .logoanimaux {
    color: #0065FC;
    border-color: #DEEBFF;
    border-style: solid;
    border-radius: 75%;
    padding: 10px 15px 20px 19px;
    background-color:#DEEBFF ;
  }

  .iconAnimaux {
      margin-top: 1%;
      margin-left: 1%;
      border-style: solid;
      border-color:#F2F2F2;
      border-radius: 60%;
      padding: 12px 10px 3px 0px; 
  }

.Hotelduport {
    
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    background-color: white;
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 2%;
    width: 15%;
    height: 20%;
    color: black;
    margin-left: 18%;
    margin-bottom: 5%;
    text-decoration: none;
}

.AubergedelaCannebière{
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    background-color: white;
    padding-left: 4%;
    padding-top: 1%;
    width: 15%;
    height: 20%;
    color: black;
    margin-left: 4%;
    margin-bottom: 5%;
    text-decoration: none;
   
}

.Hotellesmouettes {
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    background-color: white;
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 2%;
    width: 15%;
    height: 4%;
    color: black;
    margin-left: 15%;
    margin-bottom: 5%;
    text-decoration: none;
}

.Hoteldelamer {
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    background-color: white;
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 3%;
    width: 15%;
    height: 4%;
    color: black;
    margin-left: 4%;
    margin-bottom: 5%;
    text-decoration: none;
}



.HotelchezAmina {
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    background-color: white;
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 15%;
    height: 4%;
    color: black;
    margin-left: 18%;
    margin-bottom: 5%;
    text-decoration: none;
}

.AubergelePanier {
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    background-color: white;
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 15%;
    height: 4%;
    color: black;
    margin-left: 15%;
    margin-bottom: 5%;
    text-decoration: none;
}

.Afficherplus {
    margin-left: 5%;
    margin-bottom: 3%;
    color: black;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}
 


.Vieuxport {     
    border-radius: 5%;
    background-color: white;   
    border-style: solid;
    border-color: #F2F2F2;
    padding-left: 0.05%;
    padding-top: 0.05%;
    text-decoration: none;
    box-shadow:  0px 0px 5px 13px #F2F2F2 ;
}
.Fortdepomègues {
   
    border-color: #F2F2F2;
    border-radius: 5%;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
    box-shadow:  0px 0px 5px 13px #F2F2F2 ;
}
.ilesdufrioul {
   
    border-color: #F2F2F2;
    border-radius: 5%;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
    box-shadow:  0px 0px 5px 13px #F2F2F2 ;
}
.ParcNationaldesCalanques {
    
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 5%;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
    box-shadow:  0px 0px 5px 13px #F2F2F2 ;
}

.ilesdufrioul {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 5%;
    background-color: white;
    padding-top: 0.05%;
    border-width: 30%;
    text-decoration: none;
    box-shadow:  0px 0px 5px 13px #F2F2F2 ;
}

.Fortdepomègues {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 5%;
    background-color: white;
    padding-top: 0.05%;
    border-width: 30%;
    text-decoration: none;
    box-shadow:  0px 0px 5px 13px #F2F2F2 ;
}

.Notre-Dame-de-la-Garde {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 5%;
    background-color: white;
    padding-top: 0.05%;
    border-width: 30%;
    text-decoration: none;
    box-shadow:  0px 0px 5px 13px #F2F2F2 ;
}

.ParcdeLomgchamp {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 5%;
    background-color: white;
    padding-top: 0.05%;
    border-width: 30%;
    text-decoration: none;
    box-shadow:  0px 0px 5px 13px #F2F2F2 ;
}

.etoilebleu {
    color: #0065FC;
    border-color:  #F2F2F2;
}

.etoilevide {
    color:  #F2F2F2;
}

.Hébergement {
    width: 90%;
    margin-left: 4%;
  
}

.Hotellesoleildumatin1 {
    display: flex;
    background-color: white;
        width: 95%;
    border-radius: 10%;
    margin-left: 2%;
    margin-bottom: 4%;
    margin-top: 4%;
    margin-right: 4%;
    color: black;
    text-decoration: none;
}

.AucoeurdeleauChambresdhotes1 {
    display: flex;
    background-color: white;
    
    width: 95%;
    border-radius: 10%;
    margin-left: 2%;
    margin-bottom: 4%;
    margin-top: 20%;
    margin-right: 4%;
    color: black;
    text-decoration: none;
}



.Hoteltoutbleuetblanc1 {
    display: flex;
    background-color: white;
   
    width: 95%;
    border-radius: 10%;
    margin-left: 2%;
    margin-bottom: 14%;
    margin-top: 20%;
    margin-right: 4%;
    color: black;
    text-decoration: none;
    max-width: 100%
}

.fortiles {
    display: flex;
    flex-direction: column;
}

.DameParc {
    display: flex;
    flex-direction: column;
}
.Hotelsoleilalign {
    display: flex;
    flex-direction: column;
}

.photoHoteltoutbleueetblanc {
    width: 40%;
}

.iconEconoEtFamilial {
    display: flex;
    border-radius: 75%;
    padding: 8px 8px 12px 12px;
    display: flex;
    margin-top: 1%;
    margin-left: 2%;
  
   
    border-radius: 60%;
    padding: 6px 10px 3px 0px; 
}

.photoAuBergeCannebière {
    width: 80%;
}

.photoHotelduport {
    width: 80%;
}

.photoHotellesmouettes {
    width: 70%;
}

.photoHoteldelamer {
    width: 80%;
}

.photoHotelchezAmina {
    width: 80%;
}

.photoAubergelePanier {
    width: 80%;
}

.photoHotelsoleildumatin {
    width: 40%;
}



.photoAucoeurdeleau-chambre-dhotes {
    width: 40%;
}

.Inscrire {
    margin-left: 0.5%;
}



                                                                    /* Css pour version Mobile */

@media all and (max-device-width: 480px) {

body {
    margin-left: 10%;
    
}

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
     
    }

    .recherche {
        margin-right:0%
    }
   
 .Filtres {
     flex-direction: column;

 }

 section {
     margin-right: 0%;
     flex-direction: column;
 }

 figure {
      display: block;
      text-align: center;
 }

 footer {
     display: block;
 }

 .iconEconoEtFamilial {
    display: flex;
   
 }

 .iconRomantique {
     margin-right: 73%;
     padding-right: 4%;
 } 

 .iconAnimaux {
  margin-right: 73%;
  display: flex;
  flex-wrap: nowrap;
 
 }

aside {
    left: 0%;
    position: relative;  
    margin-top: 5%;
    
}

.Hotellesoleildumatin1 {
   display: block;
   text-align: center;
   margin: 0% 0% 2% 3%;
   
}

.AucoeurdeleauChambresdhotes1 {
    display: block;
    text-align: center;
    margin: 0% 0% 2% 3%;
}

.Hoteltoutbleuetblanc1 {
    display: block;
    text-align: center;
    margin: 0% 0% 2% 3%;
}

.AubergedelaCannebière {
    width: 90%;
    margin-left: 2%;
    text-align: center;
    margin: 0% 0% 2% 3%;
}

.Hotelduport {
    width: 90%;
    margin-left: 2%;
    text-align: center;
    margin: 0% 0% 2% 3%;
}

.Hotellesmouettes {
    width: 90%;
    margin-left: 2%;
    text-align: center;
    margin: 0% 0% 2% 3%;
}

.Hoteldelamer {
    width: 90%;
    margin-left: 2%;
    text-align: center;
    margin: 0% 0% 2% 3%;
}

.HotelchezAmina {
    width: 90%;
    margin-left: 2%;
    text-align: center;
    margin: 0% 0% 2% 3%;
}

.AubergelePanier {
    width: 90%;
    margin-left: 2%;
    text-align: center;
    margin: 0% 0% 2% 3%;
}
.Filtres {
      justify-content: space-between;
}

.Vieuxport1 {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 5%;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
}

.Fortdepomègues {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 5%;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
}

.ilesdufrioul {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 5%;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
}

.ParcNationalCalanques {
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 5%;
    background-color: white;
    padding-top: 0.05%;
    text-decoration: none;
}

.photoAuBergeCannebière {
    width: 80%;
}

.photoHotelduport {
    width: 80%;
}

.photoHotellesmouettes {
    width: 80%;
}

.photoHoteldelamer {
    width: 80%;
}

.photoHotelchezAmina {
    width: 80%;
}

.photoAubergelePanier {
    width: 80%;
}

.photoHotelsoleildumatin {
    width: 80%;
}

.photoAucoeurdeleau-chambre-dhotes {
    width: 80%;
}

.photoHoteltoutbleueetblanc {
    width: 80%;
}

.photoVieuxport {
    width: 70%;
}

.photoiles {
    width: 80%;
}

.photoCalanques {
    width: 70%;
}

.photoDamedelagarde {
    width: 80%;
}

.photolomgchamp {
    width: 80%;
}

.photoFort {
    width: 80%;
}

.populaire {
  display: flex;
  justify-content: space-between;
 }

 .HébergementActivités {
     margin-top: 10%;
     margin-left: 10%;
     width: 50%;
     justify-content: space-around;
 }

.recherche {
    width: 120%;
} 


}